#extend("trunk"):
    #export("body"):
		<form class="ajax" action="#(formAction)" enctype="multipart/form-data" method="POST" data-successurl="#(postSuccessURL)">
			<div class="container-md ms-0 mt-2">
				<div class="row mb-2">
					<div class="col">
						Edit User Profile for: #userByline(profile.header)
					</div>
				</div>
				<div class="row mx-1 mb-3">
					<div class="card px-0 col-6 col-md-4 col-lg-3">
						<h5 class="card-header">Current Avatar</h5>
						<div class="m-1 border img-for-upload-container">
							<div class="ratio ratio-1x1">
								#avatar(profile.header, 150)
							</div>
						</div>
					</div>
					<div class="card px-0 col-6 col-md-4 col-lg-3">
						<h5 class="card-header">New Avatar</h5>
						<div class="m-1 border img-for-upload-container">
							<div class="ratio ratio-1x1">
								<img class="img-for-upload" alt="New Avatar">
							</div>
						</div>
						<p class="text-center no-image-marker"><i>no photo selected</i></p>
						<div class="container-fluid p-1">
							<div class="row">
								<div class="col">
									<label class="btn btn-primary col-12 form-label #if(trunk.userID != profile.header.userID):disabled#endif">
										<input class="image-upload-input" type="file" accept="image/*" name="avatarPhotoInput">
										Choose Photo
									</label>
									<input type="hidden" class="current-server-photo" value="/avatar/full/#(profile.header.userID)" 
											data-defaultvalue="/api/v3/image/user/identicon/#(profile.header.userID)" 
											data-originalvalue="/avatar/full/#(profile.header.userID)" 
											name="serverAvatarPhoto">
								</div>
							</div>
							<div class="row gx-2">
								<div class="col">
									<button type="button" class="btn btn-primary w-100 twitarr-image-reset">Reset</button>
								</div>
								<div class="col">
									<button type="button" class="btn btn-primary w-100 twitarr-image-default">Default</button>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row mx-1 mb-3 align-items-center">
					<div class="col col-12 col-sm-4">
						<label for="displayname" class="text-start text-sm-end d-block">Display Name:</label>
					</div>
					<div class="col col-12 col-sm-8">
						<input type="text" class="form-control" id="displayname" name="displayName" placeholder="Display Name" value="#(profile.header.displayName)" spellcheck="false" autocapitalize="none">
					</div>
				</div>

				<div class="row mx-1 mb-3 align-items-center">
					<div class="col col-12 col-sm-4">
						<label for="realName" class="text-start text-sm-end d-block">Real Name:</label>
					</div>
					<div class="col col-12 col-sm-8">
						<input type="text" class="form-control" id="realName" name="realName" placeholder="Real Name" value="#(profile.realName)" spellcheck="false" autocapitalize="words" autocomplete="name">
					</div>
				</div>

				<div class="row mx-1 mb-3 align-items-center">
					<div class="col col-12 col-sm-4">
						<label for="preferredPronoun" class="text-start text-sm-end d-block">Pronouns:</label>
					</div>
					<div class="col col-12 col-sm-8">
						<input type="text" class="form-control" id="preferredPronoun" name="preferredPronoun" placeholder="Pronouns" value="#(profile.header.preferredPronoun)" spellcheck="false" autocapitalize="none">
					</div>
				</div>

				<div class="row mx-1 mb-3 align-items-center">
					<div class="col col-12 col-sm-4">
						<label for="homeLocation" class="text-start text-sm-end d-block">Home Location:</label>
					</div>
					<div class="col col-12 col-sm-8">
						<input type="text" class="form-control" id="homeLocation" name="homeLocation" placeholder="Home Location" value="#(profile.homeLocation)">
					</div>
				</div>

				<div class="row mx-1 mb-3 align-items-center">
					<div class="col col-12 col-sm-4">
						<label for="roomNumber" class="text-start text-sm-end d-block">Cabin Number:</label>
					</div>
					<div class="col col-12 col-sm-8">
						<input type="text" class="form-control" id="roomNumber" name="roomNumber" placeholder="Cabin Number" value="#(profile.roomNumber)">
					</div>
				</div>

				<div class="row mx-1 mb-3 align-items-center">
					<div class="col col-12 col-sm-4">
						<label for="dinnerTeam" class="text-start text-sm-end d-block">Dinner Team:</label>
					</div>
					<div class="col col-12 col-sm-8">
						<select id="dinnerTeam" name="dinnerTeam" class="form-control">
							<option value="red" #if(profile.dinnerTeam == "red"):selected#endif>Red Team</option>
							<option value="gold" #if(profile.dinnerTeam == "gold"):selected#endif>Gold Team</option>
							<option value="sro" #if(profile.dinnerTeam == "sro"):selected#endif>Club SRO</option>
							<option value="" #if(!profile.dinnerTeam):selected#endif>None</option>
						</select>
					</div>
				</div>

				<div class="row mx-1 mb-3 align-items-center">
					<div class="col col-12 col-sm-4">
						<label for="email" class="text-start text-sm-end d-block">Email:</label>
					</div>
					<div class="col col-12 col-sm-8">
						<input type="email" class="form-control" id="email" name="email" placeholder="Email" value="#(profile.email)" autocomplete="email">
					</div>
				</div>

				<div class="row mx-1 mb-3 align-items-center">
					<div class="col col-12 col-sm-4">
						<label for="message" class="text-start text-sm-end d-block">Welcome Message:</label>
					</div>
					<div class="col col-12 col-sm-8">
						<input type="text" class="form-control" id="message" name="message" placeholder="Welcome Message" value="#(profile.message)">
					</div>
				</div>

				<div class="row mx-1 mb-3 align-items-center">
					<div class="col col-12 col-sm-4">
						<label for="about" class="text-start text-sm-end d-block">About You:</label>
					</div>
					<div class="col col-12 col-sm-8">
						<textarea class="form-control" maxlength="2000" rows="5" name="about" id="about" placeholder="Short paragraph about you">#(profile.about)</textarea>
					</div>
				</div>

				<div class="row">
					<div class="col">
						<div class="alert alert-danger mt-3 d-none" role="alert">
						</div>				
					</div>				
				</div>				

				<div class="row justify-content-end mb-5">
					<div class="col col-auto me-3">
						<button type="submit" class="btn btn-primary btn-sm">Save<span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span></button>
					</div>
				</div>
			</div>
		</form>
    #endexport
#endextend

