#extend("trunk"):
    #export("body"):
        <div class="container-md ms-0">
            <div class="row align-items-center my-1">
                <div class="col col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item" aria-current="page"><a href="/hunts">Hunts</a></li>
                            <li class="breadcrumb-item active" aria-current="page">#(hunt.title)</li>
                        </ol>
                    </nav>
                </div>
            </div>
    		<div class="row mb-2">
    			<div class="col col-12">
    				#markdownTextTag(hunt.description)
				</div>
			</div>
			<div class="list-group">
                #for(puzzle in hunt.puzzles):
					<a href="/hunts/puzzles/#(puzzle.puzzleID)" class="list-group-item list-group-item-action">
						<div class="container-fluid">
							<div class="row">
								<div class="col fw-bold">
									#(puzzle.title)
								</div>
							</div>
                            #if(puzzle.answer):
                                <div class="row">
                                    <div class="col text-success text-uppercase">
                                        #(puzzle.answer)
                                    </div>
                                </div>
                            #endif
						</div>
					</a>
				#endfor
                #if(hunt.nextUnlockTime):
                    <div class="list-group-item container-fluid">
                        <div class="row">
                            <div class="col text-muted">
                                Next puzzle unlocks at #localTime(hunt.nextUnlockTime)
                            </div>
                        </div>
                    </div>
                #endif
			</div>
		</div>
    #endexport
#endextend
