.git
.build
DerivedData
Package.resolved
*.xcodeproj
build
docs
# We exclude deployment scripts from the image builds to prevent
# them from triggering an image build if we were to `COPY . .`
scripts
!scripts/run.sh
!scripts/init-prereqs.sh
# Making these end with a * silences a warning about missing resources
# during the build
Sources/App/seeds/*
# These areas of the .build directory are needed to prevent fetching
# deps from the internet during the build.
!.build/workspace-state.json
!.build/checkouts
# vim: ft=conf
