# Mac OS ignores
.DS_Store

# IDE ignores
.build
build/
xcuserdata/
DerivedData/
.swiftpm
.cache
.vscode
.idea

# Python ignores
__pycache__/

# Swiftarr project ignores
/Sources/Run/Private Swiftarr Config/*
!/Sources/Run/Private Swiftarr Config/Template.env
!/Sources/Run/Private Swiftarr Config/Docker-Template.env
/[Ii]mages/

