# Mac OS ignores
.DS_Store

# IDE ignores
.build
build/
xcuserdata/
DerivedData/
.swiftpm
.cache
.vscode
.idea

# Python ignores
__pycache__/

# Swiftarr project ignores
/Sources/App/seeds/Private Swiftarr Config/*
!/Sources/App/seeds/Private Swiftarr Config/Template.env
!/Sources/App/seeds/Private Swiftarr Config/Docker-Template.env
/[Ii]mages/
doc.json
*.tgz
