#extend("trunk"):
    #export("body"):
		<div class="container-fluid">
			#for(document in conductDocuments):
				<div class="row my-3">
					<h4>#(document.header)</h4>
				</div>
				#for(section in document.sections):
					#if(section.header):
					<div class="row">
						<p><b>#(section.header)</b></p>
					</div>
					#endif
					#for(paragraph in section.paragraphs):
						#if(paragraph.text):
						<div class="row">
							<p>#(paragraph.text)</p>
						</div>
						#endif
						#if(paragraph.list):
						<ul>
							#for(listItem in paragraph.list):
							<li>#(listItem)</li>
							#endfor
						</ul>
						#endif
					#endfor
				#endfor
			#endfor
	#endexport
#endextend
