<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="Content-Security-Policy" content="default-src 'none'; script-src 'self' 'unsafe-inline'; connect-src *; img-src 'self' jococruise.com data: blob:; style-src 'self' 'unsafe-inline'; base-uri 'self'; form-action 'self'">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="/css/bootstrap.css" rel="stylesheet">
	<link href="/css/swiftarr.css" rel="stylesheet">
	<link rel="icon" type="image/vnd.microsoft.icon" href="/img/favicon.ico">
	#if(trunk.metaRefreshSeconds):
		<meta http-equiv="refresh" content="#(trunk.metaRefreshSeconds)" />
	#elseif(trunk.metaRedirectURL):
		<meta http-equiv="refresh" content="2;URL='#(trunk.metaRedirectURL)'" />
	#endif

	<title>#(trunk.title)</title>
</head>
<body style="background-image: url('/img/background.png'); background-size: 100%;">

	#if(!hideHeaderBar):
		<div class="sticky-top">
			<nav class="navbar navbar-dark bg-light pt-3 mb-2" style="background-image: url('/img/header-waves.png'); background-repeat: repeat-x;">
				<div class="container-fluid px-0">
					<div class="row justify-content-between w-100 ms-3 me-2">
						<div class="col-auto px-0">
							<a class="nav-item nav-link link-light px-1
									#if(trunk.tab == "home"): active#endif
									#if(trunk.alertCounts.newAnnouncementCount > 0 || trunk.alertCounts.newPrivateEventMessageCount || trunk.alertCounts.moderatorData.newModeratorSeamailMessageCount > 0 || trunk.alertCounts.moderatorData.newTTSeamailMessageCount > 0 || alertCounts.moderatorData.newModeratorForumMentionCount > 0 || alertCounts.moderatorData.newTTForumMentionCount > 0):
										border-bottom border-danger
									#endif"
									href="/">
								Today
							</a>
						</div>
						<div class="col-auto px-0">
							<a class="nav-item nav-link link-light px-1#if(trunk.tab == "forums"): active#endif" #if(trunk.tab == "forums"):aria-current="page"#endif href="/forums">
								<span class="#if(trunk.alertCounts.newForumMentionCount > 0 || trunk.newForumAlertwords):border-bottom border-danger#endif">
									Forums
								</span>
							</a>
						</div>
						<div class="col-auto px-0">
							<a class="nav-item nav-link link-light px-1#if(trunk.tab == "seamail"): active#endif" #if(trunk.tab == "seamail"):aria-current="page"#endif href="/seamail">
								<span #if(trunk.alertCounts.newSeamailMessageCount > 0):class="border-bottom border-danger"#endif>
									Seamail
								</span>
							</a>
						</div>
						<div class="col-auto px-0">
							<a class="nav-item nav-link link-light px-1 #if(trunk.tab == "events"): active#endif" #if(trunk.tab == "events"):aria-current="page"#endif href="/events">
								<span #if(trunk.eventStartingSoon == true):class="border-bottom border-danger"#endif>
									Schedule
								</span>
							</a>
						</div>
						<div class="col-auto px-0">
							<a class="nav-item nav-link link-light px-1 #if(trunk.tab == "lfg"): active#endif" #if(trunk.tab == "lfg"):aria-current="page"#endif href="/lfg">
								<span class="#if(trunk.alertCounts.newFezMessageCount > 0):border-bottom border-danger#endif">
									LFG
								</span>
							</a>
						</div>
						<div class="col px-0"></div>
						#if(import("hassearch")):
							<div class="col-auto px-0 mt-1">
								<span class="link-light navbar-brand me-0" data-bs-toggle="collapse" data-bs-target="\#searchBar" aria-controls="searchBar" aria-expanded="false" aria-label="Toggle Search Bar">
									<img src="/img/searchIcon.png" width=24 height=24 alt="Search Bar">
								</span>
							</div>
						#endif
					</div>
					#import("searchform")
				</div>
			</nav>
			#import("subheader")
		</div>
	#endif
	#if(trunk.minAccessLevel != nil):
    	<div class="container-md ms-0 mt-2">
			<div class="alert alert-warning mt-3" role="alert">
				Twitarr is in maintenance mode: Only #(trunk.minAccessLevel) users and above may log in.
			</div>
		</div>
	#endif
	#if(trunk.pageIsForDisabledFeature != nil):
    	<div class="container-md ms-0 mt-2">
			<div class="alert alert-warning" role="alert">
				Only THO and admin can see this page; '#(trunk.pageIsForDisabledFeature)' feature disable is set.
			</div>
		</div>
	#endif

	#import("body")

	<div class="row mb-5">
	</div>
	<script src="/js/swiftarr.js"></script>
</body>
</html>
