#extend("trunk"):
    #export("body"):
    	<div class="container-md ms-0 mt-2">
			#extend("Quartermaster/quartermasterNavbar")
			<div class="row">
				<div class="col">
					<h6><b>What's Quartermastarr?</b></h6>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<p>Have something that you want to share? Looking for something that you forgot to bring? The
                                        Quartermastarr is here to help! Post something you <b>Have</b> and are willing to lend or give
                                        away, or something you <b>Need</b> and are hoping someone else brought along</p>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<h6><b>How do I post an item?</b></h6>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<p>From the Owned tab, tap "Add Item(s)". Pick Have or Need, then list one or more items --
					each with a short name and an optional longer description. All the items in one submission
					share the same category, location, and anonymity setting.</p>
                                        <p>If you are posting a Need, make sure to check the Have list first in case someone has
                                        already listed it. And once the item is gone (or you found what you need), make sure to
                                        clean up!</p>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<h6><b>Do I have to share my name?</b></h6>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<p>By default, other guests see your username on the item so they can view your profile or
					send you a Seamail about it -- a location is optional in that case. If you'd rather not share
					who you are, check "Post anonymously" when creating or editing the item. When you do, your
					name is hidden from everyone but you and the Moderation Team, and a location becomes required
					so people still have a way to find the item, like a cabin number or "the Lido Bar most
					evenings."</p>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<h6><b>Who can see my items?</b></h6>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<p>Everyone aboard who's logged in. Have and Need list every guest's items, not just yours --
					that's the point. Use the Owned tab to manage just the items you've posted.</p>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<h6><b>Someone posted something that shouldn't be here. What do I do?</b></h6>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<p>If the item is simply no longer there, let the poster know if their name is shown. For
                                        inappropriate items, expand the item and tap Report. The Moderation Team will review it. As
                                        with the rest of Twitarr, please keep the <a href="/codeOfConduct">Code of Conduct</a> in
                                        mind when posting.</p>
				</div>
			</div>
		</div>
    #endexport
#endextend
