<div class="row mb-2">
	<ul class="nav nav-tabs">
		<li class="nav-item">
			<a class="nav-link#if(tab == "about"): active#endif" #if(tab == "about"):aria-current="page"#endif href="/quartermaster/about"><b>Quartermaster</b></a>
		</li>
		<li class="nav-item">
			<a class="nav-link#if(tab == "have"): active#endif" #if(tab == "have"):aria-current="page"#endif href="/quartermaster">Have</a>
		</li>
		<li class="nav-item">
			<a class="nav-link#if(tab == "need"): active#endif" #if(tab == "need"):aria-current="page"#endif href="/quartermaster/need">Need</a>
		</li>
		<li class="nav-item">
			<a class="nav-link#if(tab == "owned"): active#endif" #if(tab == "owned"):aria-current="page"#endif href="/quartermaster/owned">Owned</a>
		</li>
	</ul>
</div>
