#comment("Context must contain 'trunk', 'showCategoryBadge', and 'editReturnTo' -- from the enclosing page")
#comment("Context must contain 'item' of type QuartermasterData -- usually done with #for(item in list), or set directly by a single-item page")
#comment("Enclosing <li> must carry class 'has-action-bar' and data-postid=item.itemID for the collapse/delete JS")

<div class="container-fluid">
	<div class="row">
		<div class="col">
			#if(showCategoryBadge):
				<span class="badge #if(item.category == "have"):bg-success#else:bg-info text-dark#endif">#if(item.category == "have"):Have#else:Need#endif</span>
			#endif
			<b>#(item.itemName)</b>
		</div>
		<div class="col col-auto text-muted text-end">
			#if(item.location):#(item.location)#endif
			#if(item.location && item.owner): &middot; #endif
			#if(item.owner):#userByline(item.owner, "short")#elseif(item.hideOwnerName):Anonymous#endif
		</div>
	</div>

	<div class="collapse" data-label="actionbar">
		#if(item.image):
			<div class="row mt-2">
				<div class="col col-auto">
					<button type="button" class="btn p-0 border-0" data-bs-toggle="modal" data-bs-target="\#imageCarouselModal">
						<img src="/api/v3/image/thumb/#(item.image)" class="swiftarr-post-image" alt="Item photo">
					</button>
				</div>
			</div>
		#endif
		#if(item.itemDescription):
			<div class="row mt-2">
				<div class="col">
					#(item.itemDescription)
				</div>
			</div>
		#endif
		<div class="row mt-1">
			<div class="col text-muted">
				<span title="#localTime(item.lastModificationTime)">Updated #relativeTime(item.lastModificationTime)</span>
			</div>
		</div>
		<div class="row justify-content-center mt-2">
			<div class="col col-auto btn-group btn-group-sm">
				<button type="button" class="btn btn-outline-primary d-none" data-action="copyLink" data-copy-path="/quartermaster/#(item.itemID)">Copy Link</button>
				#if(item.owner && item.owner.userID != trunk.userID):
					<a class="btn btn-outline-primary" href="/seamail/create?withuser=#(item.owner.userID)&withsubject=Re%3A%20Quartermastarr%20Item%20-%20#urlEncode(item.itemName)">Send Seamail</a>
				#endif
				#if(trunk.userIsMod || (item.owner && item.owner.userID == trunk.userID)):
					<a class="btn btn-outline-primary" href="/quartermaster/#(item.itemID)/edit?from=#(editReturnTo)">Edit</a>
					<button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="\#deleteModal">Delete</button>
				#endif
			</div>
			<div class="col col-auto btn-group btn-group-sm">
				<a class="btn btn-outline-primary" href="/quartermaster/report/#(item.itemID)">Report</a>
				#if(trunk.userIsMod):
					<a class="btn btn-outline-primary" href="/moderate/quartermaster/#(item.itemID)">Moderate</a>
				#endif
			</div>
		</div>
	</div>
</div>
