#extend("trunk"):
    #export("body"):
    	<div class="container-md ms-0 mt-2">
			#extend("Quartermaster/quartermasterNavbar")
			<div class="row">
				<div class="col">
					<h6><b>What's Quartermaster?</b></h6>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<p>Quartermaster is a board for the recurring "does anyone have..." and "is anyone looking for..."
					conversations that pop up on every cruise. Post something you <b>Have</b> and are willing to lend
					or give away, or something you <b>Need</b> and are hoping someone else brought along, and let
					the ship find you.</p>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<h6><b>How do I post an item?</b></h6>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<p>From the Owned tab, tap "Add Item(s)". Pick Have or Need, then list one or more items --
					each with a short name and an optional longer description. All the items in one submission
					share the same category, location, and contact information.</p>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<h6><b>Location and contact -- do I need both?</b></h6>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<p>You need at least one. A location is a free-text spot where the item can be picked up or
					exchanged, like a cabin number or "the Lido Bar most evenings." A contact user is a fellow
					guest someone can reach out to -- by default this is you, but you can point it at someone
					else or leave it blank if a location is enough on its own.</p>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<h6><b>Who can see my items?</b></h6>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<p>Everyone aboard who's logged in. Have and Need list every guest's items, not just yours --
					that's the point. Use the Owned tab to manage just the items you've posted.</p>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<h6><b>Someone posted something that shouldn't be here. What do I do?</b></h6>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<p>If the item is simply no longer there, let the contact know if they are listed. For
                                        inappropriate items, expand the item and tap Report. The Moderation Team will review it. As
                                        with the rest of Twitarr, please keep the <a href="/codeOfConduct">Code of Conduct</a> in
                                        mind when posting.</p>
				</div>
			</div>
		</div>
    #endexport
#endextend
