#extend("trunk"):
    #export("body"):
    	<div class="container-md ms-0 mt-2">
    		<div class="row align-items-end">
    			<div class="col col-auto">
			    	<h6><b>Moderate Group Post \##(modData.groupPost.postID)</b></h6>
				</div>
			</div>
			<div class="row justify-content-between mb-3">
				<div class="col" data-reportabletype="grouppost" data-reportableid="#(modData.groupPost.postID)" data-postid="#(modData.groupPost.postID)">
					#if(!modData.isDeleted):
						<button type="button" class="btn btn-outline-primary btn-sm" data-bs-toggle="modal" data-bs-target="\#deleteGroupPostModal">Delete</button>
						<span class="dropdown">
							<button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="modStatusButton" data-bs-toggle="dropdown" aria-expanded="false">
								Set State
							</button>
							<ul class="dropdown-menu" aria-labelledby="modStatusButton">
								<li><button class="dropdown-item" type="button" data-action="setModState" data-newstate="normal">Normal</button></li>
								<li><button class="dropdown-item disabled" type="button">Auto Quarantined</button></li>
								<li><button class="dropdown-item" type="button" data-action="setModState" data-newstate="quarantined">Quarantined</button></li>
								<li><button class="dropdown-item" type="button" data-action="setModState" data-newstate="reviewed">Moderator Reviewed (looks good as is)</button></li>
								<li><button class="dropdown-item" type="button" data-action="setModState" data-newstate="locked">Locked</button></li>
							</ul>
						</span>
						Current State: #(modData.moderationStatus)			
					#endif
				</div>
			</div>
			<div class="alert alert-danger mt-3 d-none" role="alert" id="ModerateContentErrorAlert">
			</div>				
    		<div class="row">
    			<div class="col col-auto">
					Author: #userByline(modData.groupPost.author)<a class="btn btn-outline-primary btn-sm ms-2" href="/moderate/user/#(modData.groupPost.author.userID)">Mod User</a>
				</div>
			</div>
    		<div class="row mt-2">
    			#if(modData.isDeleted):
					<h6><b>Post has been Deleted.<br>Prior to delete, it looked like this:</b></h6>
    			#else:
					<h6><b>As it currently exists:</b></h6>
				#endif
			</div>
    		<div class="row">
    			<div class="col">
					<ul class="container-md mx-0 px-0 list-group">
						<li class="list-group-item bg-transparent" data-modpostid="#(modData.groupPost.postID)">				
							<div class="container-fluid mx-0 px-1">
								<div class="row align-items-start justify-content-start">	
									<div class="col g-0" style="flex: 0 0 40px;">
										<a href="/user/#(modData.groupPost.author.userID)">		
											#avatar(modData.groupPost.author)
										</a>
									</div>
									<div class="col">
										<div class="row">	
											<div class="col">
												#userByline(modData.groupPost.author)
											</div>
											<div class="col-auto">
												<span title="#localTime(modData.groupPost.timestamp)" class="text-muted">#relativeTime(modData.groupPost.timestamp)</span>
											</div>
										</div>
										<div class="row">	
											<div class="col">
												#formatPostText(modData.groupPost.text)
											</div>
										</div>
										#if(modData.groupPost.image):
											<div class="row align-items-center justify-content-start flex-nowrap gx-1">	
												<div class="col col-auto flex-grow-0 flex-shrink-1">
													<button type="button" class="btn p-0 border-0" data-bs-toggle="modal" data-bs-target="\#imageCarouselModal">
														<img src="/api/v3/image/full/#(modData.groupPost.image)" class="swiftarr-post-image" alt="Post Image">
													</button>
												</div>
											</div>
										#endif
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="row my-3">
				<div class="col">
					<a class="btn btn-primary btn-sm" href="/group/#(modData.groupID)">View in Group Context</a>
				</div>
				<div class="col">
					<a class="btn btn-primary btn-sm" href="/seamail/#(modData.groupID)">View in Seamail Context</a>
				</div>
			</div>
			
			#if(count(modData.reports) == 0):
				<h6><b>No reports on this post.</b></h6>
			#else:				
				<div class="row mt-3">
					<h6><b>#count(modData.reports) reports on this post:</b></h6>
				</div>
				<div class="row mb-3">
					<div class="col">
						<button type="button" class="btn btn-primary btn-sm" data-action="handleReports" data-reportid="#(firstReport.id)">Start Handling All</button>
						<button type="button" class="btn btn-primary btn-sm" data-action="closeReports" data-reportid="#(firstReport.id)">Close All</button>
					</div>
				</div>
				<div class="list-group">
					#for(report in modData.reports):
						#extend("moderation/reportListItem")
					#endfor
				</div>
			#endif
		</div>

		<div class="modal fade" id="deleteGroupPostModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="deleteModalLabel">Delete Confirmation</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						Are you sure you want to delete this post?
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
						<input type="checkbox" class="btn-check" autocomplete="off" data-action="reload" 
								data-actionpath="/group/post/#(modData.groupPost.postID)/delete" 
								data-errordiv="groupPostDialog_errorDisplay"
								id="groupPostDialog_deleteBtn">
						<label class="btn btn-primary px-4" for="groupPostDialog_deleteBtn">
							Delete
							<span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
							<span class="visually-hidden">Loading...</span>
						</label>
					</div>
					<div class="mx-3 pb-1 text-end text-danger error-display d-none" id="groupPostDialog_errorDisplay">
						<b>Error attempting to delete post:</b> <span class="errortext"></span>
					</div>
				</div>
			</div>
		</div>
		<script src="/js/swiftarrModeration.js"></script>
    #endexport
#endextend
