#extend("trunk"):
    #export("body"):
		<div class="container-lg ms-0">

<h1>Twit-arr Moderator Guidelines</h1>
<p>Welcome to Twit-arr V3, moderator. This guide will show you the tools you&rsquo;ll be using to perform moderation tasks, and also gude you as to when and how to use those tools properly.</p>
<p>Right up front though, the Moderator purpose: Moderators will work to help the Community thrive in a positive manner.</p>
<p><strong>Table of Contents:</strong></p>
<p><a href="#h.vel93ne7jtav"><strong>Part 1: Twit-arr Concepts</strong></a></p>
<p><a href="#h.gzkgn1vbj5cv">Users</a></p>
<p><a href="#h.yw30wj2rtkl0">User Access Levels</a></p>
<p><a href="#h.pk7c0eej7sk6">Content</a></p>
<p><a href="#h.k5722ld9r199">Content Types</a></p>
<p><a href="#h.i2eja5k2tty" >Reports</a></p>
<p><a href="#h.2nux9cdw4znl">Moderation Actions</a></p>
<p><a href="#h.66ftm7f8qgg0">Auto-Quarantine</a></p>
<p><a href="#h.emrwkla84hi4"><strong>Part 2: Considerations for Moderators</strong></a></p>
<p><a href="#h.jjmdkhqtsepg">Issue Categories</a></p>
<p><a href="#h.a37i3a3dmia1">The steps to address issues</a></p>
<p><a href="#h.fw62t56lyzzu">Onboard Communications</a></p>
<p><a href="#h.en6cyh4d3wxe">&ldquo;Canned&rdquo; Responses</a></p>
<p><a href="#h.sz1dm96gmmv" >Code of Conduct</a></p>
<h1 id="h.vel93ne7jtav">Part 1: Twit-arr Concepts</h1>
<h2 id="h.gzkgn1vbj5cv">Users</h2>
<p>Like previous Twit-arr servers, V3 requires users to provide a Registration Code when creating their account. Unlike previous versions, V3 lets users create multiple accounts, all of which are tied to their Registration Code.</p>
<h3 id="h.yw30wj2rtkl0">User Access Levels</h3>
<div>
<table>
<tbody>
<tr>
<td>Unverified</td>
<td>Account created, but no reg code. Limited access.</td>
</tr>
<tr>
<td>Banned</td>
<td>Cannot log in.</td>
</tr>
<tr>
<td>Quarantined</td>
<td>Can read, but not post.</td>
</tr>
<tr>
<td>Verified</td>
<td>Most users.</td>
</tr>
<tr>
<td>Client</td>
<td>Special access level for applications to use bulk-access APIs.</td>
</tr>
<tr>
<td>Moderator</td>
<td>That&rsquo;s you.</td>
</tr>
<tr>
<td>TwitarrTeam</td>
<td>Developers and IT support</td>
</tr>
<tr>
<td>THO (The Home Office)</td>
<td>Designated representatives of The Home Office. Can ban users.</td>
</tr>
<tr>
<td>Admin</td>
<td>Server admin</td>
</tr>
</tbody>
</table>
</div>
<p>You will need to create an account normally with the Reg Code you received from THO, and get elevated to Moderator access by someone with THO level access. If you wish, you can create a sub-account specifically for moderator duties and get that account elevated.&nbsp;</p>
<p>As a mod, you&rsquo;ll be able to set a Verified user&rsquo;s access level to Quarantined, either temporarily or permanently. This will affect all accounts tied to that user&rsquo;s Reg Code.</p>
<h2 id="h.pk7c0eej7sk6">Content</h2>
<p>Twit-arr has multiple types of content users may create, and every publicly viewable piece of content a user can create can be reported by any other user (reported to the moderation team) and moderated by you.&nbsp;</p>
<h3 id="h.k5722ld9r199">Content Types</h3>
<ul>
<li>Tweets:aka twarrts, aka stream posts</li>
<li>Forums:the forum itself, really just the forum title</li>
<li>Forum Posts</li>
<li>Looking For Group:the LFG&rsquo;s title,info, and location text</li>
<li>LFG Posts:a post in an LFG thread</li>
<li>User Profile: fields in the profile such as Home Town or Cabin Number. The User Profile content is <em>not</em> the user.</li>
</ul>
<p>For each listed content type, verified users may create content of that type and edit the content they created. Tweets, Forum Posts, and LFG posts may also be deleted by the author. All of the above content types keep an edit trail showing every edit made to the content-&mdash;users can&rsquo;t post something nasty and delete it 20 seconds later, hoping the mods won&rsquo;t see it in time.</p>
<p>As a mod, you can:</p>
<ul>
<li>Edit content any user created,</li>
<li>Delete all content types except User Profiles,</li>
<li>Lock content to prevent the author from editing it,</li>
<li>Quarantine content (hides content&mdash;useful while you confer with other mods),</li>
<li>Move forum threads to a new category, including moving threads to &ldquo;Mods Only Dumpster Fire&rdquo; a special category only mods can see.</li>
</ul>
<p>In most cases, you can moderate content by tapping the &ldquo;Mod&rdquo; button next to the content. Only Moderators will see this button. The Mod button opens a page showing the content, all previous edits to the content, users reports against the content, and controls for performing moderation actions.</p>
<p>Only THO and Admin level users may ban users. If you think a user should be banned you should open a thread about it in the Moderator Forum.</p>
<p>You should know that all actions you take that use your Mod powers get logged, and all Mods will be able to see what you&rsquo;ve done.</p>
<h2 id="h.i2eja5k2tty">Reports</h2>
<p>Mods have access to the &ldquo;Moderator Pages&rdquo; section of the web client; tap on the Twit-arr header item to open the menu and Moderator Pages should be there if you have Moderator access. Inside Moderator Pages is a page that lets you view open user reports.</p>
<p>Users can report content they think moderators should take a look at. Being users however, they may report the wrong thing. Most often this will be users reporting on a <em>forum</em> when they mean to report on a particular <em>forum post</em>. Also, users cannot directly report other users&mdash;they can only report content other users have created.</p>
<p>While not necessary, while viewing reports on some content you can tap &ldquo;Start Handling All&rdquo; to mark the reports as in-process by you. This lets other mods know which reports are being handled and which are not-yet-handled. You may then edit the content, delete the content, quarantine the content, give the user a timeout, or take no action at all. You should hit the &ldquo;Close All&rdquo; button when you&rsquo;re done so the user reports will be marked as having been dealt with.</p>
<h2 id="h.2nux9cdw4znl">Moderation Actions</h2>
<p>The Moderation page for all types of content is essentially the same, and displays the following actions:</p>
<ul>
<li><strong>Edit: </strong>Lets the moderator modify the content, changing text and removing images.&nbsp;</li>
<li><strong>Delete: </strong>Removes the content entirely. If you do this for a forum or a LFG, all the posts within are also inaccessible. For forums it may be preferable to move the forum into a Moderator-only category, especially if there are multiple bad actors posting within the forum. User Profiles can&rsquo;t be deleted&mdash;a user always has exactly one profile.</li>
<li><strong>Lock: </strong>The author of the content cannot modify it. If applied to a Forum or LFG, users cannot create new posts within.</li>
<li><strong>Quarantine:</strong> Setting the Quarantine state on content changes its text to &ldquo;Under Moderator Review&rdquo; and removes images for all non-moderators who view it. The moderator can then discuss what to do in the moderator forums, or finish eating lunch, whatever. Removing Quarantine (setting state back to &ldquo;Normal&rdquo;) returns the content to its original state.</li>
<li><strong>Moderator Reviewed: </strong>Setting this state means you&rsquo;ve looked at the content and determined you need to take no action. See section on Auto-Quarantine for more on why this option is useful.</li>
<li><strong>Moderate User:</strong> If you want to moderate the user instead of the content, this will take you to the User Moderation page.</li>
</ul>
<p>The User Moderation page shows the user&rsquo;s primary account, all sub-accounts, and all reports against content the user has created, on any of their accounts. The following actions are available to moderate the user:</p>
<ul>
<li><strong>Quarantine User:</strong> A Quarantined user is unable to create or modify content. This means they cannot post, create forums, edit or delete their posts, create LFGs or post in them, or edit their profile.</li>
<li><strong>Temp Quarantine: </strong>Same as Quarantine, but only lasts for a number of hours that you select.</li>
<li><strong>Un-Quarantine: </strong>Returns the user&rsquo;s accounts to the &ldquo;verified&rdquo; state, so they can post again.</li>
<li><strong>Ban: </strong>Only THO-level users have this option. Prevents the user from logging in with any of their accounts, which in turn means they cannot see any user-generated content. The home page (announcements and Daily Theme) and the Schedule are still accessible while logged out.</li>
</ul>
<h4>Step by Step</h4>
<p>To perform any of the above moderation actions, the first step is always to bring up the moderation page for the content you want to moderate. You can get to this page by tapping the &ldquo;Mod&rdquo; button on any piece of content (tweets, forums, forum posts, LFGs, LFG posts, and user profiles should all have this button available to moderators). You can also get to the moderation page by tapping on a report on the Open Reports page (Twitarr Menu -&gt; Moderator Pages, then tap &ldquo;Open Reports&rdquo;).</p>
<p style="text-align:center;"><img src="/img/moderation-guide-images/image2.png" width="95%"></p>
<p style="text-align: center;"><em>A Twarrt, shown expanded, with Mod button.</em></p>
<p style="text-align: center;"><img src="/img/moderation-guide-images/image1.png" width="95%"></p>
<p style="text-align: center;"><em>The root Moderator page, showing the Open Reports cell.</em></p>
<p style="text-align: center;"><img src="/img/moderation-guide-images/image4.png" width="95%"></p>
<p style="text-align: center;"><em>The Moderator->Reports page</em></p>
<p>The Moderate Content page looks like the following figure, showing a twarrt written by user @sam, with a previous edit and a report on the twarrt (reported by @modUser) also visible.</p>
<p style="text-align: center;"><img src="/img/moderation-guide-images/image5.png" width="95%"></p>
<p style="text-align: center;"><em>The Moderate Content page</em></p>
<p>From here, you can perform several moderation actions:</p>
<ul>
<li>To edit the content, tap the Edit button. This will open a &ldquo;Mod Edit&rdquo; page that works the same as the regular edit page. The page will say &ldquo;Mod Edit&rdquo; at the upper left to let you know that you&rsquo;re using your moderation powers to perform the edit. You can change the text of the content and remove any attached photos. Tap &ldquo;Post&rdquo; when you&rsquo;re done editing.&nbsp;</li>
<li>To delete the content, tap the Delete button, then tap &ldquo;Delete&rdquo; in the dialog that appears to confirm.</li>
<li>The moderation page for forum threads has a &ldquo;Change Category&rdquo; dropdown button. You can tap Change Category and then tap on a new category to move a forum to a more appropriate category.</li>
<li>Use the &ldquo;Set State&rdquo; dropdown menu to quarantine or lock content.&nbsp; You can see the current moderation status to the right of the &ldquo;Set State&rdquo; dropdown.</li>
<li>The &ldquo;Mod User&rdquo; button takes you to the User Moderation page, which is where you can perform moderation actions that affect the user (and not the content they authored).</li>
<li>The &ldquo;View In Context&rdquo; button takes you to the page containing the twarrt/forum post/LFG post/profile, allowing you to see the posts near the post you&rsquo;re working on. Use this to understand the context of the post you&rsquo;re working on and to check for other posts that may need moderation.</li>
<li>The &ldquo;Start Handling All&rdquo; button marks all the reports on this content as &ldquo;being handled&rdquo; by you. This step is optional, but tapping this button right when you start reviewing a piece of content can help let other moderators know that you&rsquo;re working on it.</li>
<li>When you&rsquo;re done moderating a piece of content that has open reports, be sure to tap the &ldquo;Close All&rdquo; button to close out the reports so that other mods won&rsquo;t think the content still needs work.</li>
</ul>
<p>The User Moderation page looks like the following:</p>
<p style="text-align: center;"><img src="/img/moderation-guide-images/image3.png" width="95%"></p>
<p style="text-align: center;"><em>The User Moderation Page</em></p>
<p>If the user has alternate accounts, you can see their names from this page. All user reports against any content that this user (or any of their alts) has created is accessible from here as well. From this page you can perform the following actions:</p>
<ul>
<li>Set Access Level: Changing a user&rsquo;s access level affects that user&rsquo;s ability to create and edit content. As a Moderator, you are able to set their Access Level to &ldquo;Quarantined&rdquo;, which prevents users from posting, or &ldquo;Verified&rdquo; which allows it. Be sure to check the user&rsquo;s current access level before changing it. Note that quarantining a user by directly changing their access level applies a permanent (but reversible) quarantine (as opposed to a temporary quarantine; see next item).</li>
<li>Temporary Quarantine: To set a temporary quarantine, enter a number of hours that you wish the user to be prevented from posting and then tap the &ldquo;Start Quarantine&rdquo; button. The user will be in the Quarantine state and unable to create new posts, edit their current posts, or edit their profile for the duration.</li>
</ul>
<h4>Questions about Moderation</h4>
<p>If you have questions about what to do for a particular user&rsquo;s piece of content, you can copy the URL of the Moderation page for that content, create a new forum thread in the Moderators Only forum, and paste the link into your post along with your question. Other moderators can then see exactly what content it is that you&rsquo;re asking about.</p>
<p>Non-moderator users can&rsquo;t see any Moderation pages, even if they were given an URL to the page.</p>
<h2 id="h.66ftm7f8qgg0">Auto-Quarantine</h2>
<p>When a certain number of users report on the same piece of content, that content can become auto-quarantined. Auto-quarantine acts just like a mod-issued quarantine&mdash;the content&rsquo;s text is replaced with &ldquo;Under Moderator Review&rdquo; and all images are removed. This feature exists to help prevent offensive content from being posted with impunity late at night when the mods are asleep.</p>
<p>By definition, auto-quarantined content will have a bunch of reports filed against it. When you look at the moderation page for that content, you&rsquo;ll see the Moderation State of the content set to &ldquo;auto-quarantined&rdquo;. You should probably change the state of the content (even if it&rsquo;s to &ldquo;quarantined&rdquo;) before closing the open reports.</p>
<p>If the reported content doesn&rsquo;t seem offensive (be sure to check the previous edits), it&rsquo;s possible clever users have teamed up to &lsquo;brigade&rsquo; the content. This is where several users all report on the same non-offensive content on purpose in an attempt to get it auto-quarantined. This is when you can set the &ldquo;Moderator Reviewed&rdquo; state on the content. Content that is in the &ldquo;Moderator Reviewed&rdquo; state is immune to being auto-quarantined.</p>
<h2>Moderator Forums</h2>
<p>There are two forum categories that only moderators may access. &ldquo;Moderators Only&rdquo; is where moderators can discuss moderation activities, ask questions, elevate issues that THO needs to deal with, and plan what bar to meet at to drink wang wangs. &ldquo;Mods Only Dumpster Fire&rdquo; exists specifically for moving problem forum threads to a place where regular users can&rsquo;t see them.&nbsp;</p>
<h1 id="h.emrwkla84hi4">Part 2: Considerations for Moderators</h1>
<p>The task of the moderators is to ensure users are not posting content contrary to the JoCo Cruise Code of Conduct.</p>
<p>It&rsquo;s important to clarify any methods that might be used to quell the community in this type of situation. For instance, a Moderator may want to say things like, &ldquo;I&rsquo;m working on finding out more information,&rdquo; until they can actually say more.</p>
<p>If a Moderator is not sure about something &ndash; ask another moderator in the private moderator Seamail. If no response is received, please escalate the issue</p>
<h2 id="h.jjmdkhqtsepg">Issue Categories</h2>
<ul>
<li>Repeats Behavior after being asked to stop</li>
<li>Possibly Mean</li>
<li>Actively Mean</li>
<li>Possibly Offensive (Hate speech, racism, transphobia, ableism, homophobia, classism, religious discrimination)</li>
<li>Actively Offensive (Hate speech, racism, transphobia, ableism, homophobia, classism, religious discrimination)</li>
</ul>
<h2 id="h.a37i3a3dmia1">The steps to address issues</h2>
<p>IF content is considered Possibly Mean or Possibly Offensive &gt;</p>
<p>THEN alert private mod group discussion for feedback, seek to clarify the intent with the User via SeaMail. Consider adding to the thread to clarify, as well. If the User does not respond, consider locking content temporarily. Ask User to edit or delete.</p>
<p>IF content is considered Actively Mean or Actively Offensive &gt;</p>
<p>THEN lock content, contact the User via Sea Mail, alert private mod group discussion, take it from there. Edit and/or delete as necessary.</p>
<p>Often a stern but reasonable request to redirect the direction of a thread is enough. If you&rsquo;re worried by where it might be headed, or the overall tone, it&rsquo;s perfectly okay to drop in and just say so. It&rsquo;s a good heads up to posters (who may not have realized they were going too far), a reminder that the mods are active, and means that if you do need to take more definite action, it&rsquo;s not an unpleasant, confusing surprise.</p>
<p>Thread should be locked if they are <em>actively</em> going astray and/or if the moderators do not want any more responses to it.</p>
<p>If you do delete or edit anything:</p>
<ul>
<li>Always, always mention what you did (unless it&rsquo;s very minor and self-explanatory, such as fixing a broken link). Be sure to contribute as @moderator.</li>
<li>If you delete a comment make sure it deserves it. Deleting anything looks extreme, will feel invasive to the writer, and makes it look like they wrote something awful.</li>
<li>If someone asks what happened to a thread or a comment, answer them. You don&rsquo;t have to go into detail, but a) &ldquo;we deleted it&rdquo; (what) &ldquo;because it was basically spam&rdquo; (why) will be all most users need, or want to know. This is basic courtesy, a clear statement of where the line is, and makes sure that accidental forum glitches, or rogue moderators, don&rsquo;t go unnoticed.</li>
</ul>
<h2 id="h.fw62t56lyzzu">Onboard Communications</h2>
<p>There is an account with the handle @moderator. This account may interact just as others; posting, commenting, sending and receiving SeaMail. This account may be used when addressing issues publicly by choosing &ldquo;post as moderator&rdquo;.&nbsp;</p>
<p>When Users send SeaMail to @Moderator, all mods are alerted. All mods will be able to reply via SeaMail using @moderator.</p>
<p>There is a forum category named &ldquo;Moderators Only&rdquo; that is only viewable by Moderator level accounts. Issues may be brought up with the moderation team for discussion by creating forum threads therein. Be sure to @mention someone if you need a quick response.</p>
<p>There will also be a group Sea Mail discussion for all mods to be able to communicate issues privately. Unlike forum posts, posts to the group Sea Mail will notify all moderators.&nbsp;</p>
<p>ANY issues should be raised behind the scenes, if only as a &lsquo;recorded for posterity&rsquo; thread. All moderators should be clear on how decisions are made and what they should do to find out what to do about something.</p>
<h2 id="h.en6cyh4d3wxe">&ldquo;Canned&rdquo; Responses</h2>
<p>Could you please clarify your intention?</p>
<p>Please take this conversation to SeaMail. Thank you.</p>
<p>The Moderation Team appreciates that members continue to keep this discussion within the guidelines of the Code of Conduct.&nbsp;</p>
<p>Please let this serve as a warning for content in violation of the Code of Conduct ( ?-ism). Please contact the Moderation Team @moderator.</p>
<p>This entry has been reported as a possible violation of the Code of Conduct. Please contact the Moderation Team @moderator.</p>
<p>This entry has been reported as a violation of the Code of Conduct and has been temporarily locked until further notice. Please contact the Moderation Team @moderator.</p>
<p>This entry has been investigated as a violation of the Code of Conduct and has been permanently locked. Thank you for your understanding.</p>
<h2 id="h.sz1dm96gmmv">Code of Conduct</h2>
<p>The Code of Conduct is available for all users to read. There are links to it on the Twit-arr Home Page, the Login Page, and every posting form.</p>
<p><strong>JoCo Cruise Code of Conduct:</strong></p>
<ul>
<li><strong>Be excellent to each other</strong>. Treat your fellow Sea Monkeys with kindness and respect. This is an enthusiastic and supportive community, and it is all of our responsibility to maintain it. Invite people into your conversations and activities; be supportive when your fellow Sea Monkeys try new things (or choose not to); participate, connect, help out. Events like these can feel lonely and intimidating when you&rsquo;re new and don&rsquo;t know anybody. Be welcoming, inclusive and friendly, and look out for one another!</li>
<li><strong>Don&rsquo;t harass others</strong>. We are not a community that tolerates harassment.&nbsp; This includes (but isn&rsquo;t limited to): any kind of physical, verbal, or psychological abuse; threats, intimidation, and bullying; slurs about race, gender, sexuality or ability; unwanted romantic attention, sexual harassment, and generally creepy or stalky behavior; and photographing anyone or engaging in physical interactions (hugging, tickling, backrubs, etc.) without consent. If someone asks you to stop doing something and you keep doing it, that&rsquo;s harassment. We&rsquo;re all responsible for making sure this doesn&rsquo;t occur in our community.</li>
<li><strong>Be excellent to the ship&rsquo;s staff and anyone you encounter at a port of call</strong>. Remember that we share this community with others. Please don&rsquo;t be the person who makes the Sea Monkeys look bad to the HAL staff and/or the locals.</li>
<li><strong>Don&rsquo;t steal things</strong>. Obviously.</li>
<li><strong>Don&rsquo;t use illegal substances or bring them onboard</strong>. No exceptions.</li>
<li><strong>We&rsquo;re here to help</strong>. Don&rsquo;t hesitate to reach out and ask for help addressing an issue. If the matter is related to the ship and its operations, or the health or physical well-being of passengers and/or crew, we must defer to the Oosterdam management. The ship&rsquo;s management, the officers, and crew are all ultimately responsible for the safety and well-being of every person on board. We and they are all doing our best to ensure you enjoy your experience and that the values of our community are upheld.</li>
<li><strong>Our experience and expectation</strong> is that JoCo Cruisers act responsibly and look after one another. But in the event of a breach of this Code of Conduct, we reserve the right to take action, including (but not limited to) limiting access to events, expulsion without refund, and/or permanent banning from JoCo Cruise events.</li>
<li>During the cruise, if you are subject to or witness behavior that violates our Code of Conduct, contact any Helper Monkey or JoCo Cruise staff member. You can also dial 74701 from any ship&rsquo;s phone. Off-ship, email JoCo Cruise management at info@jococruise.com.</li>
</ul>
<p><strong>This application is subject to the JoCo Cruise Code of Conduct (above) and moderation rules:</strong></p>
<ol>
<li>Don't harass others. Don't post anything that could be considered harassment. Don't personally insult or harass others. Public or private.</li>
<li>The use of emoji&rsquo;s or images to convey inappropriate meaning consistent with the rules outlined above will also be moderated.</li>
<li>Please don't raise concerns about the moderation on the app as it disrupts the flow of any discussion. Please direct any queries regarding moderation directly to moderation team @moderation.</li>
</ol>
<p><strong>Breaches of the moderation rules will be dealt with as follows:</strong></p>
<ul>
<li>Removal / editing of content - any comment that, in the view of the moderator, breaches the rules will be removed or edited.&nbsp;</li>
<li>Temporary Mute - a participant who repeatedly and/or flagrantly flouts the moderation rules may be suspended from posting content to the app.</li>
<li>Permanent Banning - a participant who continues to violate the moderation rules following reinstatement after a period of suspension may have their access to the app permanently blocked.</li>
<li>Automatic Banning - a participant who posts or links to inappropriate, offensive or illegal material will be immediately blocked from the app.</li>
</ul>
<p><strong>Users Frequently Asked Questions</strong></p>
<ul>
<li>What happens if my content is removed?</li>
</ul>
<p>If you post something to this app which gets moderated (edited or removed), you will receive a notification via Seamail informing you of this action. You will be informed as to which of the moderation rules you are in breach of and notified as a warning.</p>
<ul>
<li>What if I disagree with a moderation decision?</li>
</ul>
<p>If you disagree with a moderation decision you are able to get in touch with the moderation team by tagging @moderator or sending a SeaMail to @moderator.&nbsp;</p>
<ul>
<li>Can a moderator remove my comment just because they don&rsquo;t like it?</li>
</ul>
<p>All comments moderated by our moderators are done so in accordance with the moderation rules outlined above.&nbsp;</p>
<ul>
<li>Can I report a comment for moderation?</li>
</ul>
<p>If you feel a comment or contribution to the app is in breach of the moderation rules outlined on this page, you are within your right to alert our moderators. Contact the mods by tagging @moderator or via Seamail at @moderator.</p>
<ul>
<li>How will I know if I have been banned from the app?</li>
</ul>
<p>If you are repeatedly in breach of our moderation rules you may incur sanctions as outlined above. When a banned User attempts to log in, there is a message displayed indicating that they are banned. (We could add further instructions, if necessary.)</p>

		</div>
    #endexport
#endextend
