.dayplanner-subheader {
	margin-top: -8px;
}

.dayplanner-bgcolor {
	background-color: #DDDDDD;
}

.dayplanner {
	width: 100%;
	vertical-align: top;
	background-color: #DDDDDD;
	table-layout: fixed;
}

table.dayplanner th {
	width: 55px;
	font-weight: normal;
	font-size: 14px;
	padding-top: 0px;
	padding-left: 2px;
}

table.dayplanner > tbody > tr {
	height: 25px;
	max-height: 25px;
}

table.dayplanner > tbody > tr > td {
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 2px;
}

table.dayplanner .hourline {
	border-top: 1px solid white;
}

table.dayplanner .currentTimeLine {
	position: relative;
	background-color: #FF0000;
	height: 1px;
	width: 100%;
}

table.dayplanner .redTeam,
table.dayplanner .goldTeam,
table.dayplanner .schedule,
table.dayplanner .photographer,
table.dayplanner .lfg,
table.dayplanner .personalEvent {
	display: block;
	text-decoration: none;
 	border-radius: 16px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 2px;
	min-height: 100%;
	max-height: 100%;
	min-width: 100%;
	color: white;
	font-family: Helvetica, Arial, sans-serif;
	line-height: 1.3;
	overflow: auto;
	hyphens: auto;
	overflow-wrap: anywhere;
	position: relative;				/* Puts event cells in front of the current time horiz rule */
}

.redTeam {
	background-color: #8D0000C0;
}
table.dayplanner .redTeam:active {
	background-color: #8D0000;
}

.goldTeam {
	background-color: #C8B400C0;
}
table.dayplanner .goldTeam:active {
	background-color: #C8B400;
}

.schedule {
	background-color: #6463FFC0;
}
table.dayplanner .schedule:active {
	background-color: #6463FF;
}

.photographer {
	background-color: #444444C0;
}
table.dayplanner .photographer:active {
	background-color: #444444;
}

.lfg {
	background-color: #3B7D3EC0;
}
table.dayplanner .lfg:active {
	background-color: #3B7D3E;
}

.personalEvent {
	background-color: #C005BBC0;
}
table.dayplanner .personalEvent:active {
	background-color: #C005BB;
}

table.dayplanner .blankItem {
	background-color: #DDDDDD;
}

table.dayplanner .headerSizer {
	width: 7%;
	height: 1px;
}
