.img-for-upload {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.image-upload-input {
  display: none;
}

hr.newline {
  background-color: #A00000;
  opacity: 100%;
  height: 2px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: visible;
}

hr.newline:after {
  content: "New";
  font-size: .9em;
  color: #700000;
  display: inline-block;
  position: relative;
  top: -0.8em;
  padding: 0 0.25em;
  background-color: #FFFFFF;
  opacity: 100%;
}

.navbar-brand {
  cursor: pointer;
}

.nav-item.nav-link.active {
  font-weight: 700;
}

.navbar-nav a.nav-link {
  flex: 0 0 180px;
}

.main-menu-divider {
  height: 0;
  margin: 0.5rem 0;
  overflow: hidden;
  border-top: 1px solid rgba(255, 255, 255, .95);
}

.swiftarr-breadcrumb-item+.swiftarr-breadcrumb-item {
  padding-left: 0.25rem;
}

.swiftarr-breadcrumb-item+.swiftarr-breadcrumb-item::before {
  padding-right: 0.5rem;
  color: #6c757d;
  content: "/";
}

.swiftarr-breadcrumb-item.active {
  color: #6c757d;
}

.duration-select {
  display: flex;
  width: 100px;
  padding: 0.375rem 2.25rem 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

duration-select:focus {
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.swiftarr-namecell {
  white-space: nowrap;
}

.swiftarr-image-box {
  width: 100%;
  height: 200;
  max-width: 100%;
}

.swiftarr-post-image {
  max-width: 100%;
  max-height: 200px;
}

.swiftarr-closeup-box {
  display: grid;
  /* margin-top: 90px; */
  /* padding-top: 5px; */
  /* padding-bottom: 5px; */
  background-color: #333;
}

.swiftarr-closeup-image {
  max-width: 100%;
  max-height: 100vh;
  margin: auto;
}

.bg-primary-50 {
  background-color: #0d6efd80 !important;
}

.bg-light-50 {
  background-color: #f8f9fa80 !important;
}

.swiftarr-textfield {
  max-width: 300px;
}

.swiftarr-searchbar {
  background-color: #063953;
}

.soon-button {
  position: fixed;
  right: 20px;
  bottom: 10px;
  border-radius: 16px;
}

.event-soon-badge {
  background: url('/img/event-soon.png') 0 0/16px repeat-y;
}

.event-now-badge {
  background: url('/img/event-now.png') 0 0/16px repeat-y;
}

.swiftarr-deck-map {
  max-width: 100%;
  width: 20em;
  padding: 1em;
}

/* Overrides a Bootstrap class to make the background darker. */
.modal-backdrop.show {
  opacity: .85;
}