#extend("trunk"):
#export("body"):
<div class="container-md ms-0 mt-2">
	#extend("Fez/fezNavbar")
	<div class="row">
		<div class="col">
			<h6><b>What's a Looking For Group (LFG)?</b></h6>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<p>If you want to play a boardgame, start a band, go on a shore excursion, eat at a restaurant, drink like a
				pirate,
				get some exercise, visit the spa, sing a song, craft a crafty thing, play shuffleboard, play basketball,
				or find pokemon,
				but you need more people, use LFG to find them. Create an LFG listing the thing you want to do, the
				time, and
				how many participants you'll need.</p>
			<p>If you're looking for something to do and want to meet some new people, check out the LFGs, find an
				activity
				that sounds fun, and join up.</p>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<h6><b>Can I make an LFG for 1000 people in Main Theatre and do my standup act onstage?</b></h6>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<p>No. Your standup act needs more work, LFGs are meant for small groups doing an activity together,
				all the 'event' rooms on the ship are for actual Scheduled Events, and JoCo Cruise does not provide
				logistical or
				technical support for LFGs.</p>
			<p>If your LFG idea is 'come listen to me talk', the thing you want is a Shadow Event.</p>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<h6><b>I scheduled an LFG at a place but it's full of people doing something else? What gives?</b></h6>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<p>LFGs are not a reservation system of any sort. Luckily, LFGs have built-in chat, so you can
				come up with a backup plan with everyone and meet somewhere else/play a different game/eat at a
				different restaurant.</p>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<h6><b>What about adult-themed LFGs?</b></h6>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<p>People of all ages read Twitt-Arr and LFGs are a public forum like the rest of Twitt-Arr, please use the
				usual
				discretion and keep the Code of Conduct in mind.</p>
		</div>
	</div>
</div>
#endexport
#endextend