<a class="list-group-item list-group-item-action" href="/group/#(group.groupID)">		
	<div class="row">
		<div class="col">
			#if(group.cancelled):<span class="text-danger"><b>Cancelled</b></span>#endif <b>#(group.title)</b>
		</div>
		<div class="col col-auto">
			<span class="text-muted">#groupTime(group.startTime, group.endTime)</span>
		</div>
	</div>

	<div class="row">
		<div class="col">
			by: #userByline(group.owner, "nolink")
		</div>
		<div class="col col-auto">
			#if(group.maxParticipants == 0):
				#(group.participantCount) attendee#if(group.participantCount != 1):s#endif
			#elseif(group.participantCount > group.maxParticipants):
				Full; #(group.participantCount - group.maxParticipants) waitlisted
			#else:
				#(group.participantCount)/#(group.maxParticipants) attendees
			#endif
		</div>
	</div>

	<div class="row">
		<div class="col">
			#(group.groupType)
		</div>
		#if(group.members):
			<div class="col col-auto">
				<span class="badge rounded-pill bg-light text-dark">#(group.members.postCount) posts</span>
				#if(group.members.readCount < group.members.postCount):
					<span class="badge rounded-pill bg-danger">#(group.members.postCount - group.members.readCount) new</span>
				#endif
			</div>
		#endif
	</div>
	
	<div class="row d-none">
		<div class="col">
			#(group.location)
		</div>
	</div>
	<div class="row d-none">
		<div class="col">
			#formatPostText(group.info)
		</div>
	</div>
</a>
