<li class="list-group-item bg-transparent" data-postid="#(fezPost.postID)">
	<div class="container-fluid">
		<div class="row align-items-start justify-content-start">	
			<div class="col g-0" style="flex: 0 0 40px;">
				#avatar(fezPost.author)
			</div>
			<div class="col">
				<div class="row">	
					<div class="col">
						#userByline(fezPost.author)
					</div>
					<div class="col-auto">
						<span class="text-muted">#relativeTime(fezPost.timestamp)</span>
					</div>
				</div>
				<div class="row align-items-start">	
					<div class="col">
						#formatFezText(fezPost.text)
					</div>
					#if(showModButton || (userID == fezPost.author.userID)):
						<div class="col col-auto btn-group" role="group">
							#if(showModButton):
								<a class="btn btn-outline-primary btn-sm" href="/moderate/fezpost/#(fezPost.postID)">Mod</a>
							#endif
							#if(userID == fezPost.author.userID):
								<button type="button" class="btn btn-outline-primary btn-sm" data-bs-toggle="modal" data-bs-target="\#deleteModal">Delete</button>
							#endif
						</div>
					#endif
				</div>
				#if(fezPost.image):
					<div class="row align-items-center justify-content-start flex-nowrap gx-1">	
						<div class="col col-auto flex-grow-0 flex-shrink-1">
							<button type="button" class="btn p-0 border-0" data-bs-toggle="modal" data-bs-target="\#imageCarouselModal">
								<img src="/api/v3/image/full/#(fezPost.image)" class="swiftarr-post-image" alt="Post Image">
							</button>
						</div>
					</div>
				#endif
			</div>
		</div>
	</div>
</li>
