#extend("trunk"):
    #export("body"):
		<div class="container-fluid">
			<h2 id="what-is-going-on-here-">What is going on here?</h2>
			<p>Twit-arr is a microblogging site that the Shadow IT department of the Joco Cruise have set up for internal communication while the cruise is under way.</p>
			<h2 id="why-does-it-exist-">Why does it exist?</h2>
			<p>Social media has gotten a bad reputation over the last few years, because of negativity engagement loops. But, I feel good when I read social media posts
			from friends where they talk about something fun they just did. I want Twit-arr to be like that. We&#39;re all going to be doing awesome stuff this week,
			and posting about it can make everyone feel even better. So please. Post about the awesome stuff. We all want to hear about it.</p>
			<h2 id="how-do-i-get-in-on-this-">How do I get in on this?</h2>
			<p>New this year, you&#39;ll need to make an account to use most social media features. You can still browse the Events, Karaoke Songs, and Boardgames
			without an account.</p>
			<p>You will need your Twit-arr registration code to make an account. If you don&#39;t have it come to the Twit-arr Help Desk during our office hours and
			we&#39;ll get you sorted.</p>
			<h2 id="i-created-an-account-do-i-need-to-create-another-account-if-i-want-to-switch-the-app-that-i-m-using-">I created an account. Do I need to create another account if I want to switch the app that I&#39;m using?</h2>
			<p>Nope! Your account exists on the server. All apps and the web interface access the same server. You can use the same login information in each app!</p>
			<h2 id="what-s-with-all-the-funny-and-signs-">What&#39;s with all the funny @ and # signs?</h2>
			<p><code>#</code> signs signify hashtags. It allows you to tag a post with a word or phrase that will make it easier to find. For example, tagging all posts
			with cat pictures under #cats. Clicking on the hashtag in a post will take you to a list of all posts containing that hash tag. Hash tags end at
			the first space character after the tag.</p>
			<p><code>@</code> signifies a user handle. If you&#39;ve signed up for Twit-arr then your handle is your login name with an @ before it. Examples include @kvort and @dave.
			Placing a user handle in a post will bring that post to that user&#39;s attention. Handles are also used for sending Seamail.</p>
			<h2 id="what-are-the-red-underlines-">What are the red underlines?</h2>
			<p>That&#39;s how Twitarr indicates you&#39;ve got notifications--the currently selected menu item is <strong>bold</strong>. Tap on the menu item with the red underline,
			and the thing you&#39;re being notified about will also be colored red. You may receive notifications for:</p>
			<ul>
			<li>Announcements</li>
			<li>Twarrts and Forum Posts that @mention you</li>
			<li>Twarrts and Forum Posts that contain an alert word that you&#39;ve set</li>
			<li>Incoming Seamail or LFG Chat messages</li>
			<li>Upcoming Schedule events that you&#39;ve favorited</li>
			</ul>
			<h2 id="can-i-use-emoji-">Can I use emoji?</h2>
			<p>Yes, you can! Twit-arr supports the standard emoji that are available through your phone&#39;s keyboard. If you&#39;re using a computer, you may be able to
			send emoji, but the way to type them depends on your operating system.</p>
			<p>Additionally, Twit-arr has a few custom emoji that can be entered manually. But be warned - they might not render properly in all clients!
			The available custom emoji are:</p>
			<ul>
			<li>:buffet:</li>
			<li>:die-ship:</li>
			<li>:die:</li>
			<li>:hottub:</li>
			<li>:joco:</li>
			<li>:pirate:</li>
			<li>:ship-front:</li>
			<li>:ship:</li>
			<li>:towel-monkey:</li>
			<li>:tropical-drink:</li>
			<li>:zombie:</li>
			</ul>
			<h2 id="can-i-follow-users-">Can I follow users?</h2>
			<p>Sadly, following users did not make the cut for this year&#39;s iteration of Twitarr, largely because things we want to <em>do</em> with followed users
			didn&#39;t make the cut. It&#39;s on the list for next year.</p>
			<h2 id="what-s-a-seamail-">What&#39;s a seamail?</h2>
			<p>Seamail is our name for chat messaging. Chats don&#39;t go onto the internet and can only be sent to other Twit-arr users on the ship.
			Just start typing a username or handle and Twit-arr will give you a list of people who match.</p>
			<h2 id="my-twit-arr-doesn-t-work-">My Twit-arr doesn&#39;t work!</h2>
			<p>Technically not a question. However, here are solutions for a number of issues:</p>
			<ul>
			<li>If you&#39;re having problems getting to Twit-arr, it may be the ship&#39;s network. In common areas such as the theatre or on deck or the
			game/dining room, there may be simply too many people trying to get onto the network. Your stateroom may be the best place to connect.</li>
			<li>Like any other complex piece of software, something occasionally goes wrong. We&#39;ll try and fix it as soon as we can, but remember
			that we&#39;re also on vacation. :)</li>
			<li>If you&#39;ve forgotten your login, then you can try the password reset page (link is on the login page). If you absolutely can&#39;t
			get back in, you have a few options: Go to the Info Desk and ask for your registration code - this will help you reset your password
			if you know your username. Or, find one of the Twit-arr admins (@gbasden, @rangerrick, or @hendusoone, who are collectively also the
			team account @TwitarrTeam).</li>
			<li>If something else is broken but you can login, then feel free to send a Seamail to @TwitarrTeam or post in the Twit-arr Feedback forum.
			Depending on the severity, it may not get fixed this cruise, but it will be recorded to fix for the next cruise.</li>
			<li>If none of these apply to you then your best bet is to seek out @gbasden or @hendusoone.</li>
			</ul>
			<h2 id="twit-arr-is-telling-me-something-is-disabled-what-does-that-mean-">Twit-arr is telling me something is disabled. What does that mean?</h2>
			<p>For some reason, the administrators have shut down a section of the site. Maybe something is horribly broken, and they are fixing it.
			Maybe things got a bit messy, and the moderators are working to clean it up. Once things are back to normal, the section will be re-enabled.
			Until then, you are welcome to use any sections of Twit-arr that are not disabled!</p>
			<h2 id="when-i-try-to-make-a-post-it-says-you-have-been-quarantined-what-s-up-with-that-">When I try to make a post, it says &quot;You have been quarantined.&quot; What&#39;s up with that?</h2>
			<p>This means a moderator believes something you posted violates the Code of Conduct or the moderation rules, and is giving you a time-out from posting.
			You should have a seamail explaining why you were muted. It may also tell you when you should expect to be un-muted. It&#39;s possible you&#39;ll only be muted
			for a short time, for example if a moderator is doing some clean-up work. It&#39;s also possible that you may be muted for a longer period of time.
			If you would like to discuss this with someone, please go to the info desk. They will be able to put you in touch with someone from the moderation team.</p>
			<h2 id="i-can-t-log-in-it-says-i-ve-been-banned-did-i-do-something-wrong-">I can&#39;t log in. It says I&#39;ve been banned. Did I do something wrong?</h2>
			<p>In short, yes. Bans are reserved for those who posted something that was considered to be a serious breach of the Code of Conduct or moderation rules,
			or have made multiple posts that were considered lesser violations of the Code of Conduct or moderation rules and ignored warnings from the moderators.
			We don&#39;t want to ban anyone, but sometimes it must be done to allow others to continue to enjoy Twit-arr. Bans cannot be issued by moderators, and they
			are not arbitrary. They are only issued after discussion and consideration, and they are rarely issued on a first offense. If you have been banned, it
			is most likely permanent. The message you get when you attempt to log in will tell you why you have been banned. If you would like to discuss this with
			someone, please go to the info desk and they can put you in touch with someone who is able to talk it over with you.</p>
			<h2 id="who-made-this-">Who made this?</h2>
			<p>Twit-arr is a labor of love, and a large group of contributers are responsible:</p>
			<ul>
			<li>Grimoire developed the initial Status.net site that was on JCC2 and JCC3.</li>
			<li>Origamislayer did much work for the Status.net implementation as well.</li>
			<li>Glenn Basden (gbasden) graciously brings the laptop server and provides technical support.</li>
			<li>Nathan Walker (kvort) decided that he hated Status.net enough to rebuild the codebase for JCC4. For JCC5 he was joined in his quest
			by Emily Ozols (wingar) and James Stapleton (tasermonkey).</li>
			<li>RangerRick builds CruiseMonkey and integrates with the Twit-arr APIs.</li>
			<li>grundoon attempts to step up when needed, and did a bunch of work to prepare for JCC8.</li>
			<li>Dustin Hendrickson (hendusoone) fixed bugs, added features, and updated APIs for JCC9.</li>
			<li>Hixie wrote Rainbow Monkey, Rachel Kammerer (ralykam) worked on the user experience, and ChrisR sent in many helpful patches.</li>
			<li>Chall Fry (challf) wrote an iOS client called The Kraken for JCC 2020.</li>
			<li>grundoon, Chall Fry (challf), and Grant Cohoe (Grant) wrote Twitarr V3 for JCC 2022, with lots of help from Glenn Basden (gbasden),
			Rachel Kammerer (ralykam), RangerRick, Dustin Hendrickson (hendusoone), and Hixie.</li>
			<li>Drew and others at THO give tons of support and advice that allows us to continue to provide this service.</li>
			<li>None of this would be here without the invaluable aid of the beta testers, who try out our software on the many, MANY mobile devices
			that are out there.</li>
			</ul>
			<p>A big thank you goes out to the Moderation Team for all the work they do, and to the ship&#39;s IT staff who generously host the server and allow
			us to run this on their network!</p>
			<br>
			<br>
			<p>for Grundoon, who led the way</p>
		</div>
	#endexport
#endextend

