#extend("trunk"):
    #export("body"):
    	<div class="container-md ms-0 mt-2">
            <div class="row my-3">
                <h4>Ship Map</h4>
            </div>
            <div class="row my-3">
                <div class="col btn-group btn-group-sm" role="group" aria-label="Deck Select" id="shipDeckSelect">
                    <a class="btn btn-outline-primary " href="#deck=1">1</a>
                    <a class="btn btn-outline-primary " href="#deck=2">2</a>
                    <a class="btn btn-outline-primary " href="#deck=3">3</a>
                    <a class="btn btn-outline-primary " href="#deck=4">4</a>
                    <a class="btn btn-outline-primary " href="#deck=5">5</a>
                    <a class="btn btn-outline-primary " href="#deck=6">6</a>
                    <a class="btn btn-outline-primary " href="#deck=7">7</a>
                    <a class="btn btn-outline-primary " href="#deck=8">8</a>
                    <a class="btn btn-outline-primary " href="#deck=9">9</a>
                    <a class="btn btn-outline-primary " href="#deck=10">10</a>
                    <a class="btn btn-outline-primary " href="#deck=11">11</a>
                </div>
            </div>
            <div class="row justify-content-center align-items-center mx-1 mb-3">
                <div class="col col-auto p-1 border">
                    <img src="/img/map/deck1.png" class="swiftarr-deck-map" />
                </div>
                <div class="col-sm">
                </div>
            </div>
		</div>
    #endexport
#endextend