#extend("trunk"):
    #export("body"):
    	<div class="container-fluid">
            <div class="row my-3">
                <h4>Time Zone Check</h4>
            </div>
            <div class="row">
                <p>
                    More information about time changes will be added SoonTM.
                </p>
            </div>
            <div class="row">
                <p><b>Time on the server: </b><span id="serverTimeDisplay">#(serverTime)</span></p>
                <p><b>Time on your device: </b><span id="browserTimeDisplay">Unknown</span></p>
                <p><b>Configured display time zone (on server): </b><span>#(trunk.displayTimeZone.identifier)</span></p>
            </div>
            <div class="row">
                <p>If the two times above are different, you should change the time zone on your device until they match. This should be in your settings somewhere, but if you can't find it, ask a tech nerd. The good news is, there's probably one nearby. :)</p>
            </div>
		</div>
    #endexport
#endextend
