<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="Content-Security-Policy" content="default-src 'none'; script-src 'self' 'unsafe-inline'; connect-src *; img-src 'self' data: blob:; style-src 'self' 'unsafe-inline'; base-uri 'self'; form-action 'self'">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="/css/bootstrap.css" rel="stylesheet">
	<link href="/css/swiftarr.css" rel="stylesheet">
	<link rel="icon" type="image/vnd.microsoft.icon" href="/img/favicon.ico">
	#if(trunk.metaRedirectURL):
		<meta http-equiv="refresh" content="2;URL='#(trunk.metaRedirectURL)'" /> 
	#endif

	<title>#(trunk.title)</title>
</head>
<body style="background-image: url('/img/background.png'); background-size: 100%;">

	<nav class="navbar navbar-dark bg-light pt-3" style="background-image: url('/img/header-waves.png'); background-repeat: repeat-x;">
		<div class="container-fluid justify-content-start">
			<div class="row">
				<div class="col pe-0 mt-1">	  
					<span class="link-light navbar-brand me-2" data-bs-toggle="collapse" data-bs-target="\#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="#if(trunk.alertCounts.newAnnouncementCount > 0):border-bottom border-danger#endif#if(trunk.tab == "twitarr"): fw-bold#endif">
							Twit-arr			
						</span>
					</span>
				</div>
				<div class="col px-0">	  
					<a class="nav-item nav-link link-light px-1 #if(trunk.tab == "twarrts"):active#endif" #if(trunk.tab == "twarrts"):aria-current="page"#endif href="/tweets">
						<span class="#if(trunk.alertCounts.newTwarrtMentionCount > 0 || trunk.newTweetAlertwords):border-bottom border-danger#endif">
							Tweets			
						</span>
					</a>
				</div>
				<div class="col px-0">	  
					<a class="nav-item nav-link link-light px-1#if(trunk.tab == "forums"): active#endif" #if(trunk.tab == "forums"):aria-current="page"#endif href="/forums">
						<span class="#if(trunk.alertCounts.newForumMentionCount > 0 || trunk.newForumAlertwords):border-bottom border-danger#endif">
							Forums
						</span>
					</a>
				</div>
				<div class="col px-0">	  
					<a class="nav-item nav-link link-light px-1#if(trunk.tab == "seamail"): active#endif" #if(trunk.tab == "seamail"):aria-current="page"#endif href="/seamail">
						<span #if(trunk.alertCounts.newSeamailMessageCount > 0):class="border-bottom border-danger"#endif>
							Seamail
						</span>
					</a>
				</div>
				<div class="col px-0">	  
					<a class="nav-item nav-link link-light px-1 #if(trunk.tab == "events"): active#endif" #if(trunk.tab == "events"):aria-current="page"#endif href="/events">
						<span #if(trunk.eventStartingSoon == true):class="border-bottom border-danger"#endif>
							Schedule
						</span>
					</a>
				</div>
			</div>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav navbar-dark bg-transparent mb-3">
					<li class="nav-item d-flex align-items-center">
						<a class="nav-link active" href="/">Home</a> 
						#if(trunk.alertCounts.newAnnouncementCount > 1):
							<span class="text-muted"><i>#(trunk.alertCounts.newAnnouncementCount) New Announcements</i></span>
						#elseif(trunk.alertCounts.newAnnouncementCount == 1):
							<span class="text-muted"><i>1 New Announcement</i></span>
						#elseif(trunk.alertCounts.activeAnnouncementCount > 1):
							<span class="text-muted"><i>#(trunk.alertCounts.activeAnnouncementCount) Announcements</i></span>
						#elseif(trunk.alertCounts.activeAnnouncementCount == 1):
							<span class="text-muted"><i>1 Announcement</i></span>
						#endif
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/fez">Looking For Group</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/boardgames">Games</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/karaoke">Karaoke</a>
					</li>
					#if(trunk.userIsMod):
						<hr class="main-menu-divider">
						<li class="nav-item">
							<a class="nav-link" href="/moderator">Moderator Pages</a>
						</li>
					#endif
					#if(trunk.userIsTHO):
						<li class="nav-item">
							<a class="nav-link" href="/admin">Admin Pages</a>
						</li>
					#endif
					<hr class="main-menu-divider">
					<li class="nav-item">
					#if(trunk.userIsLoggedIn):
						<a class="nav-link" href="/logout">Logout #(trunk.username)</a>
					#else:
						<a class="nav-link" href="/login">Login</a>
					#endif
					</li>
				</ul>
				#if(trunk.searchPrompt):
					#if(trunk.tab == "forums"):
						<form class="d-flex" action="/forum/search">
							<div class="input-group btn-group" role="group" aria-label="Search bar and options">
								<input class="form-control" type="search" name="search" placeholder="#(trunk.searchPrompt)" aria-label="Search" autocapitalize="off" required>
								<input type="radio" class="btn-check" name="searchType" value="forums" id="forumsButton" autocomplete="off" checked>
								<label class="btn btn-outline-success flex-grow-0" for="forumsButton">Forums</label>
								<input type="radio" class="btn-check" name="searchType" value="posts" id="postsButton" autocomplete="off">
								<label class="btn btn-outline-success flex-grow-0" for="postsButton">Posts</label>
							</div>
							<button class="btn btn-success ms-2" type="submit">Search</button>
						</form>
					#else:
						<form class="d-flex">
							<input class="form-control" type="search" name="search" placeholder="#(trunk.searchPrompt)" aria-label="Search" autocapitalize="off" required>
							<button class="btn btn-success ms-2" type="submit">Search</button>
						</form>
					#endif
				#endif
			</div>
		</div>
	</nav>

	#import("body")

	<div class="row mb-5">
	</div>
	<script src="/js/swiftarr.js"></script>
</body>
</html>
