#extend("trunk"):
    #export("body"):
    	<div class="container-md ms-0">
    		<div class="row align-items-center my-1">
    			<div class="col col-auto">
			    	<b>Forum Categories</b>
				</div>
    			<div class="col">
				</div>
    			<div class="col col-auto align-self-end">
    				#if(trunk.alertCounts.newForumMentionCount == 1):
						<a class="btn btn-outline-danger btn-sm" href="/forumpost/mentions">1 New Mention</a>
    				#elseif(trunk.alertCounts.newForumMentionCount > 1):
						<a class="btn btn-outline-danger btn-sm" href="/forumpost/mentions">#(trunk.alertCounts.newForumMentionCount) New Mentions</a>
					#elseif(trunk.alertCounts.forumMentionCount == 1):
						<a class="btn btn-outline-primary btn-sm" href="/forumpost/mentions">1 Mention</a>
					#elseif(trunk.alertCounts.forumMentionCount > 0):
						<a class="btn btn-outline-primary btn-sm" href="/forumpost/mentions">#(trunk.alertCounts.forumMentionCount) Mentions</a>
					#endif
				</div>
			</div>
			<div class="list-group">
				#for(cat in categories):
					<a href="/forums/#(cat.categoryID)" class="list-group-item list-group-item-action">		
						<div class="container-fluid">
							<div class="row">
								<div class="col fw-bold">
									#(cat.title)
								</div>
								<div class="col col-auto">
									#(cat.paginator.total) threads
								</div>
							</div>
							<div class="row">
								<div class="col text-muted">
									#addJocomoji(cat.purpose)
								</div>
							</div>
						</div>
					</a>
				#endfor
			</div>
			#if(trunk.userIsLoggedIn):
				<div class="row align-items-center mt-2 mb-1">
					<div class="col col-auto">
						<b>Personal Categories</b>
					</div>
				</div>
				<div class="list-group">
					<a href="/forum/favorites" class="list-group-item list-group-item-action">		
						<div class="container-fluid">
							<div class="row">
								<div class="col">
									Favorite Forums
								</div>
							</div>
						</div>
					</a>
					<a href="/forum/recent" class="list-group-item list-group-item-action">		
						<div class="container-fluid">
							<div class="row">
								<div class="col">
									Recent Forums
								</div>
							</div>
						</div>
					</a>
					<a href="/forum/owned" class="list-group-item list-group-item-action">		
						<div class="container-fluid">
							<div class="row">
								<div class="col">
									Forums You Created
								</div>
							</div>
						</div>
					</a>
					<a href="/forum/mutes" class="list-group-item list-group-item-action">		
						<div class="container-fluid">
							<div class="row">
								<div class="col">
									Muted Forums
								</div>
							</div>
						</div>
					</a>
					<a href="/forumpost/favorite" class="list-group-item list-group-item-action">		
						<div class="container-fluid">
							<div class="row">
								<div class="col">
									Favorite Posts
								</div>
							</div>
						</div>
					</a>
					<a href="/forumpost/owned" class="list-group-item list-group-item-action">		
						<div class="container-fluid">
							<div class="row">
								<div class="col">
									Posts You Wrote
								</div>
							</div>
						</div>
					</a>
					<a href="/forumpost/mentions" class="list-group-item list-group-item-action">		
						<div class="container-fluid">
							<div class="row">
								<div class="col">
									Posts Mentioning You
								</div>
								<div class="col col-auto">
									#if(trunk.alertCounts.forumMentionCount > 0):
										#(trunk.alertCounts.forumMentionCount) Mention#if(trunk.alertCounts.forumMentionCount > 1):s#endif
										#if(trunk.alertCounts.newForumMentionCount > 0):, <span class="text-danger">#(trunk.alertCounts.newForumMentionCount) New</span>#endif
									#endif
								</div>
							</div>
						</div>
					</a>
				</div>
				<div class="row align-items-center mt-2 mb-1">
					<div class="col col-auto">
						<b>Alert Keywords</b>
					</div>
				</div>
				<div class="list-group">
					#for(alertwordData in trunk.alertCounts.alertWords):
						<a href="/forum/search?searchType=posts&search=#(alertwordData.alertword)" class="list-group-item list-group-item-action">		
							<div class="container-fluid">
								<div class="row justify-content-between">
									<div class="col">
										#(alertwordData.alertword)
									</div>
									<div class="col col-auto">
										#(alertwordData.forumMentionCount) match#if(alertwordData.forumMentionCount != 1):es#endif#if(alertwordData.newForumMentionCount > 0):, <span class="text-danger">#(alertwordData.newForumMentionCount) new</span>#endif
									</div>
								</div>
							</div>
						</a>
					#endfor
					<a href="/alertwords" class="list-group-item list-group-item-action">		
						<div class="container-fluid">
							<div class="row justify-content-between">
								<div class="col">
									Manage Alert Keywords
								</div>
							</div>
						</div>
					</a>
				</div>
			#endif
		</div>
    #endexport
    #export("hassearch", true)
    #export("searchform"):
		<div class="container-fluid collapse swiftarr-searchbar" id="searchBar">
			<form action="/forum/search">
				<div class="btn-group w-100 mb-1" role="group" aria-label="Toggle for searching Forums or Posts">
						<input type="radio" class="btn-check" name="searchType" value="forums" id="forumsButton" autocomplete="off" checked>
						<label class="btn btn-outline-success flex-grow-0 col-6 ms-0" for="forumsButton">Forums</label>
						<input type="radio" class="btn-check" name="searchType" value="posts" id="postsButton" autocomplete="off">
						<label class="btn btn-outline-success flex-grow-0 col-6 ms-0" for="postsButton">Posts</label>
				</div>
				<div class="row justify-content-between">
					<div class="col flex-grow-1 pe-0">
						<input class="form-control" type="search" name="search" value="" placeholder="Search Forums" aria-label="Search" autocapitalize="off" required>
					</div>
					<div class="col col-auto ps-0">
						<button class="btn btn-success ms-2" type="submit">Search</button>
					</div>
				</div>
			</form>
		</div>
    #endexport
#endextend

