<li class="list-group-item bg-transparent has-action-bar" data-postid="#(chatGroupPost.postID)">
	<div class="container-fluid">
		<div class="row align-items-start justify-content-start">	
			<div class="col g-0" style="flex: 0 0 40px;">
				#avatar(chatGroupPost.author)
			</div>
			<div class="col">
				<div class="row">	
					<div class="col">
						#userByline(chatGroupPost.author)
					</div>
					<div class="col-auto">
						<span title="#localTime(chatGroupPost.timestamp)" class="text-muted">#relativeTime(chatGroupPost.timestamp)</span>
					</div>
				</div>
				<div class="row align-items-start">	
					<div class="col">
						#formatChatGroupText(chatGroupPost.text)
					</div>
				</div>
				#if(chatGroupPost.image):
					<div class="row align-items-center justify-content-start flex-nowrap gx-1">	
						<div class="col col-auto flex-grow-0 flex-shrink-1">
							<button type="button" class="btn p-0 border-0" data-bs-toggle="modal" data-bs-target="\#imageCarouselModal">
								<img src="/api/v3/image/full/#(chatGroupPost.image)" class="swiftarr-post-image" alt="Post Image">
							</button>
						</div>
					</div>
				#endif
				#if(chatgroup.chatGroupType != "closed"):
					<div class="row mt-1 justify-content-end row-cols-auto collapse" data-label="actionbar">
						<div class="col col-auto btn-group btn-group-sm" role="group" aria-label="Post actions">
							#if(showModButton):
								<a class="btn btn-outline-primary btn-sm" href="/moderate/chatgrouppost/#(chatGroupPost.postID)">Mod</a>
							#endif
							#if(userID == chatGroupPost.author.userID):
								<button type="button" class="btn btn-outline-primary btn-sm" data-bs-toggle="modal" data-bs-target="\#deleteModal">Delete</button>
							#else:
								<a class="btn btn-outline-primary" href="/chatgroup/post/report/#(chatGroupPost.postID)">Report</a>
							#endif
						</div>
					</div>
				#endif
			</div>
		</div>
	</div>
</li>
