#extend("trunk"):
    #export("body"):
    	<div class="container-md ms-0 mt-2">
			#extend("ChatGroup/chatGroupNavbar")
			#extend("ChatGroup/chatGroupFilter")
			#extend("paginator")
			<div class="list-group">
				#if(count(chatGroupList.chatgroups) == 0):
					<li class="list-group-item">No LFG posts match the current filters.</li>
				#else:
					#for(chatgroup in chatGroupList.chatgroups):
						#extend("ChatGroup/chatGroupListItem")
					#endfor
				#endif
			</div>
			#extend("paginator")
		</div>
    #endexport
#endextend

