#extend("trunk"):
    #export("body"):
    	<div class="container-md ms-0 mt-2" data-chatgroupid="#(chatgroup.chatGroupID)">
    		<div class="row">
				<nav aria-label="breadcrumb">
				  <ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="/chatgroup">LFG</a></li>
					<li class="breadcrumb-item active" aria-current="page">#(chatgroup.title)</li>
				  </ol>
				</nav>
			</div>
			
			#if(chatgroup.cancelled):
				<div class="row mb-3">
					<div class="col text-danger text-center">
						<b>This LFG has been cancelled</b>
					</div>
				</div>
			#endif

			<div class="row">
				<div class="col">
					@#(chatgroup.owner.username)
				</div>
				<div class="col col-auto mb-auto text-muted">
					#chatGroupTime(chatgroup.startTime, chatgroup.endTime)
				</div>
			</div>

			<div class="row">
				<div class="col">
					#if(chatgroup.maxParticipants == 0):
						#(chatgroup.participantCount) attendee#if(chatgroup.participantCount != 1):s#endif
					#elseif(chatgroup.participantCount > chatgroup.maxParticipants):
						Full; #(chatgroup.participantCount - chatgroup.maxParticipants) waitlisted
					#else:
						#(chatgroup.participantCount)/#(chatgroup.maxParticipants) attendees
					#endif
				</div>
				<div class="col col-auto mb-auto text-muted">
					#(chatgroup.location)
				</div>
			</div>

			<div class="row">
				<div class="col">
					<b>Event Info:</b> #(chatgroup.info)
				</div>
			</div>
			
			#if(userIsMember):
				<div class="row mt-1 justify-content-end row-cols-auto ">
					<div class="col btn-group btn-group-sm" role="group" aria-label="member actions">
						#if(trunk.userIsMod):
							<a class="btn btn-outline-primary" href="/moderate/chatgroup/#(chatgroup.chatGroupID)">Mod</a>
						#endif
						#if(chatgroup.owner.userID == trunk.userID):
							<a class="btn btn-outline-primary" href="/chatgroup/#(chatgroup.chatGroupID)/members">Manage Members</a>
							<a class="btn btn-outline-primary" href="/chatgroup/#(chatgroup.chatGroupID)/update">Update</a>
							<button type="button" class="btn btn-outline-primary px-3" data-bs-toggle="modal" data-bs-target="\#cancelChatGroupModal">Cancel</button>
						#else:
							<a class="btn btn-outline-primary px-3" href="/chatgroup/report/#(chatgroup.chatGroupID)">Report</a>
							<button type="button" class="btn btn-outline-primary px-3" data-bs-toggle="modal" data-bs-target="\#leaveChatGroupModal">Leave</button>
						#endif
					</div>								
				</div>
			#else:
				<div class="row mt-1 justify-content-end row-cols-auto ">
					<div class="col btn-group btn-group-sm" role="group" aria-label="non-member actions">
						#if(trunk.userIsMod):
							<a class="btn btn-outline-primary" href="/moderate/chatgroup/#(chatgroup.chatGroupID)">Mod</a>
						#endif
						<a class="btn btn-outline-primary" href="/chatgroup/report/#(chatgroup.chatGroupID)">Report</a>
						<input type="checkbox" class="btn-check" autocomplete="off" data-action="reload" 
								data-actionpath="/chatgroup/#(chatgroup.chatGroupID)/join"
								data-errordiv="chatGroupActions_errorDisplay"
								id="#(chatgroup.chatGroupID)_join">
						<label class="btn btn-primary px-4" for="#(chatgroup.chatGroupID)_join">
							Join
							<span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
							<span class="visually-hidden">Loading...</span>
						</label>
					</div>								
				</div>
			#endif

			<div class="row">
				<div class="col text-end text-danger d-none" id="chatGroupActions_errorDisplay">
					Could not join LFG: <span class="errortext"></span>
				</div>
			</div>	
			
			#if(chatgroup.members):
				<div class="row mt-2">
					<b>Participants</b>
				</div>
				<div class="row mb-2 mx-0">
					#for(participant in chatgroup.members.participants):
						<div class="col col-auto border text-nowrap">
							#avatar(participant) #userByline(participant)
						</div>				
					#endfor
				</div>
				#if(count(chatgroup.members.waitingList) > 0):
					<div class="row mt-2">
						<b>Wait List</b>
					</div>
					<div class="row mb-2 mx-0">
						#for(participant in chatgroup.members.waitingList):
							<div class="col col-auto border text-nowrap">
								#avatar(participant) #userByline(participant)
							</div>				
						#endfor
					</div>
				#endif
				<div class="row align-items-center">
					<div class="col">
						<b>Posts</b>
					</div>
					<div class="col col-auto mb-auto">
						<span class="badge rounded-pill bg-light text-dark">
							<span id="post-count-span">#(chatgroup.members.postCount)</span> posts
						</span>
						#if(chatgroup.members.readCount < chatgroup.members.postCount):
							<span class="badge rounded-pill bg-danger">#(chatgroup.members.postCount - chatgroup.members.readCount) new</span>
						#endif
					</div>
				</div>
				#extend("paginator")
				<ul class="list-group container-md mx-0 px-0">
					#for(chatGroupPost in oldPosts):
						#extend("ChatGroup/chatGroupPost")
					#endfor
					#if(showDivider):
						<hr class="newline">
					#endif
					<span id="newposts"></span>
					#for(chatGroupPost in newPosts):
						#extend("ChatGroup/chatGroupPost")
					#endfor
					
					#if(paginator.nextPageURL == nil):
						<div class="chatgroup-list-end" data-url="/chatgroup/#(chatgroup.chatGroupID)/socket" id="chatgroup-list-end"></div>
						<script src="/js/swiftarrMessages.js"></script>
					#endif
				</ul>
				#extend("paginator")
				#if(paginator.nextPageURL == nil):
					<ul class="container-md mt-2 mx-0 px-0 list-group">
						<li class="list-group-item bg-transparent">				
							<form class="ajax" action="#(post.formAction)" enctype="multipart/form-data" method="POST" data-successurl="reset">
								<div class="row"> 
									<div class="col">
										<textarea class="form-control" 
												maxlength="500" 
												data-lengthlabel="lfgPostLimitsLabel" 
												rows="3" 
												data-maxlines="25" 
												name="postText" 
												placeholder="Send a message"></textarea>
									</div>
								</div>
								<div class="row justify-content-end mb-2">
									<div class="col col-auto">
										<div class="input-group-text input-group-sm py-0" id="lfgPostLimitsLabel"></div>
									</div>
								</div>
								<div class="alert alert-danger mt-3 #if(post.postErrorString == ""):d-none#endif" role="alert">#(post.postErrorString)</div>				
								<div class="row mb-2 justify-content-between gx-1">
									<div class="col col-6 col-md-4 col-lg-3">
										<div class="card">
											<h5 class="card-header">Photo</h5>
											<div class="m-1 border img-for-upload-container">
												<div class="ratio ratio-1x1">
													<img class="img-for-upload" alt="">
												</div>
											</div>
											<p class="text-center no-image-marker"><i>no photo selected</i></p>
											<div class="container-fluid p-1">
												<div class="row">
													<div class="col">
														<label class="btn btn-primary col-12 form-label">
															<input class="image-upload-input d-none" type="file" accept="#(post.allowedImageTypes)" name="localPhoto1">
															Choose Photo
														</label>
														<input type="hidden" value="" name="serverPhoto1">
													</div>
												</div>
												<div class="row justify-content-between m-0">
													<div class="col col-auto p-0 m-0">
														<button type="button" class="btn btn-primary btn-sm twitarr-image-remove">Remove</button>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col col-6 text-end">
										<button type="submit" class="btn btn-primary mb-4">Post</button><br>
										<small>Please remember to abide by the <a href="/codeOfConduct">Code of Conduct</a></small>
									</div>
								</div>
								#if(trunk.userIsMod && !post.isEdit):
									<div class="row justify-content-end mt-2">
										<div class="col col-auto form-check">
											<input class="form-check-input" type="checkbox" value="" name="postAsTwitarrTeam" id="flexCheckDefault">
											<label class="form-check-label small" for="flexCheckDefault">Post as TwitarrTeam</label>
										</div>
										<div class="col col-auto form-check">
											<input class="form-check-input" type="checkbox" value="" name="postAsModerator" id="flexCheckDefault">
											<label class="form-check-label small" for="flexCheckDefault">Post as Moderator</label>
										</div>
									</div>
								#endif
							</form>
						</li>
					</ul>
					<div class="row">
						<div class="col text-muted fst-italic" id="socket-status"></div>
					</div>
				#endif
			#endif
		</div>

		<div class="modal fade" id="leaveChatGroupModal" tabindex="-1" aria-labelledby="leave LFG modal" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="leave chatgroup modal">Leave LFG</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						Are you sure you want to leave the LFG? You'll be giving up your spot--LFGs with limited space are first-come, first-served.
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
						<input type="checkbox" class="btn-check" autocomplete="off" data-action="reload" 
								data-actionpath="/chatgroup/#(chatgroup.chatGroupID)/leave"
								data-errordiv="chatGroupDialog_errorDisplay"
								id="#(chatgroup.chatGroupID)_leave">
						<label class="btn btn-primary px-4" for="#(chatgroup.chatGroupID)_leave">
							Leave
							<span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
							<span class="visually-hidden">Loading...</span>
						</label>
					</div>
					<div class="mx-3 pb-1 text-end text-danger d-none error-display" id="chatGroupDialog_errorDisplay">
						Error attempting to leave LFG: <span class="errortext"></span>
					</div>
				</div>
			</div>
		</div>
		
		<div class="modal fade" id="cancelChatGroupModal" tabindex="-1" aria-labelledby="cancel chatgroup modal" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="cancel chatgroup modal">Cancel LFG</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<p>Cancelling the LFG will mark the LFG as not happening and notify all participants.
						The LFG won't be deleted; participants can still create and read posts.</p>
						#if(chatgroup.members):
							#if(count(chatgroup.members.participants) > 1):
								<p>If you haven't, you may want to make a post letting particpants know why the event was cancelled.</p>
							#endif
						#endif
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">DON'T Cancel LFG</button>
						<input type="checkbox" class="btn-check" autocomplete="off" data-action="reload" 
								data-actionpath="/chatgroup/#(chatgroup.chatGroupID)/cancel"
								data-errordiv="cancelDialog_errorDisplay"
								id="#(chatgroup.chatGroupID)_cancel">
						<label class="btn btn-primary px-4" for="#(chatgroup.chatGroupID)_cancel">
							Cancel
							<span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
							<span class="visually-hidden">Loading...</span>
						</label>
					</div>
					<div class="mx-3 pb-1 text-end text-danger d-none error-display" id="cancelDialog_errorDisplay">
						Error attempting to cancel LFG: <span class="errortext"></span>
					</div>
				</div>
			</div>
		</div>
		
		<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="deleteModalLabel">Delete Confirmation</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						Are you sure you want to delete this post?
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
						<button type="button" class="btn btn-primary" data-action="delete" data-delete-type="chatgroup/post" data-delete-postid="">Delete</button>
					</div>
					<div class="mx-3 pb-1 text-end text-danger error-display d-none">
						Could not delete post: <span class="errortext"></span>
					</div>
				</div>
			</div>
		</div>
		#extend("imageOverlay")
    #endexport
#endextend

