#extend("trunk"):
    #export("body"):
    	<div class="container-md ms-0 my-1">
			<div class="row">
    			<div class="col">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="/admin">Admin</a></li>
							<li class="breadcrumb-item"><a href="/admin/announcements">Announcements</a></li>
							<li class="breadcrumb-item active" aria-current="page">Create/Edit</li>
						</ol>
					</nav>
				</div>
			</div>
			<div class="row">
				<div class="col col-auto">
					<b>#if(post.isEdit):Edit#else:Create#endif Announcement</b>
				</div>
			</div>
			<ul class="container-md mx-0 px-0 list-group">
				<li class="list-group-item bg-transparent mb-3">				
					<form class="ajax" action="#(post.formAction)" enctype="multipart/form-data" method="POST" data-successurl="#(post.postSuccessURL)" id="messagePostForm">
						<div class="container-fluid">
							<div class="row"> 
								<textarea 
										class="form-control" 
										maxlength="2000" 
										data-lengthlabel="announcementLimitsLabel" 
										rows="5" 
										name="postText" 
										id="postText" 
										placeholder="Announcement Text">#(post.messageText)</textarea>
							</div>
							<div class="row justify-content-end mb-3">
								<div class="col col-auto input-group-text input-group-sm py-0" id="announcementLimitsLabel"></div>
							</div>
							<div class="row mb-2">
								<div class="col">
									Display Until: <input type="datetime-local" name="displayUntil" #if(post.displayUntil != ""):value="#localTime(post.displayUntil)"#endif>
								</div>
							</div>
							<div class="alert alert-danger mt-3 d-none" role="alert">
							</div>		
							<div class="row mb-2">
								<div class="col col-auto gx-0">
									<button type="submit" class="btn btn-primary">Create Announcement<span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span></button>
								</div>
							</div>
						</div>
					</form>
				</li>
			</ul>
			<ul class="list-group mt-3">
				<li class="list-group-item active">
					<b>Announcement Notes</b>
				</li>
				<li class="list-group-item bg-transparent">
					If you are creating an Announcement and you want to use Markdown instead of plain text, your announcement must
					begin with "&lt;Markdown&gt;" with no quotes but with the angle brackets.
				</li>
				<li class="list-group-item bg-transparent">
					To use links in your announcement, you need to Markdown-format the links, like this: [User_Visible_Text](Actual_http_URL)
				</li>
				<li class="list-group-item bg-transparent">
					<p>Remember that you can try out announcement formatting by posting in the Moderator forum before going live. When you click
					the "Create Announcement" button, it's going to send push notifications to everyone's* phone.</p>
					<p>If you delete the announcement and create a new one to fix a typo, please understand that this will send out <b>two</b> 
					push notifications.</p>
					<p>* Okay, not <i>everyone's</i> phone, but lots of phones will beep.
				</li>
				<li class="list-group-item bg-transparent">
					Editing an announcement will not change its alert status for users--so, a user that has seen
					the unedited announcement already won't be alerted again about the edit. This means that edits are appropiate
					for fixing typos or changing the display-until time, but substantial changes to an announcement's meaning
					should probably be done with a new announcement.
				</li>
				<li class="list-group-item bg-transparent">
					Editing a deleted announcement <b>will</b> undelete it, also you can edit an expired announcement and 
					bump the display-until time to the future again and it will reappear for people.
				</li>
			</ul>
    	</div>
	#endexport
#endextend
