#extend("trunk"):
    #export("body"):
    	<div class="container-md ms-0">
    		<div class="row justify-content-between align-items-center my-1">
    			<div class="col">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="/admin">Admin</a></li>
							<li class="breadcrumb-item active" aria-current="page">Jobs</li>
						</ol>
					</nav>
				</div>
			</div>
			<ul class="list-group">
				<li class="list-group-item active">
					<b>Jobs</b>
				</li>
				<li class="list-group-item bg-transparent mb-3">				
					<form class="ajax" action="/admin/notificationcheck" enctype="multipart/form-data" method="POST" data-successurl="reset" id="notificationcheckform">
						<div class="container-fluid">
							<div class="alert alert-danger mt-3 d-none" role="alert">
							</div>		
							<div class="row mb-2">
								<div class="col col-auto gx-0">
									<button type="submit" class="btn btn-primary">Run Notification Consistency Check<span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span></button>
								</div>
							</div>
						</div>
						<div class="alert alert-success mt-3 d-none" role="alert">
							Job submitted! Check the server log for more information.
						</div>
						This job runs nightly. You can trigger it manually here. It's somewhat load intensive so use with caution.
					</form>
				</li>
				<li class="list-group-item bg-transparent mb-3">				
					<form class="ajax" action="/admin/forumreaper" enctype="multipart/form-data" method="POST" data-successurl="reset" id="forumreaperform">
						<div class="container-fluid">
							<div class="alert alert-danger mt-3 d-none" role="alert">
							</div>		
							<div class="row mb-2">
								<div class="col col-auto gx-0">
									<button type="submit" class="btn btn-primary">Run Empty Forum Reaper<span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span></button>
								</div>
							</div>
						</div>
						<div class="alert alert-success mt-3 d-none" role="alert">
							Job submitted! Check the server log for more information.
						</div>
						This job runs hourly. You can trigger it manually here. It deletes forums with 0 posts.
					</form>
				</li>
			</ul>
		</div>
    #endexport
#endextend

