#extend("trunk"):
    #export("body"):
    	<div class="container-md ms-0 my-1">
			<div class="row">
    			<div class="col">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="/admin">Admin</a></li>
							<li class="breadcrumb-item active" aria-current="page">Server Counts</li>
						</ol>
					</nav>
				</div>
			</div>
			<table class="table">
  				<thead>
					<tr>
						<th scope="col">Category</th>
						<th scope="col">Total</th>
					</tr>
				</thead
				<tbody>
					#for(item in tableRows):
						<tr>
							<th scope="row">#(item.title)</th>
							<td>#(item.total)</td>
						</tr>
					#endfor
				</tbody>
			</table>
    	</div>
	#endexport
#endextend
