# This is a template for making Swiftarr config files. The values in this file get set as environment vars
# (with setenv()) during Swiftarr app startup. If you haven't yet, you should make copies of this file,
# named `development.env` and `production.env`, and set up passwords for the databases and admin users.
#
# Swiftarr's git repo is set up so that any new files in `/Sources/swiftarr/seeds/Private Swiftarr Config` are ignored.
# The .env files with sensitive passwords in them should not get checked in.
#
# "In general" we recommend using this file as a template for local builds and development environments.

# Postgres DB Access
DATABASE_USER=swiftarr
DATABASE_HOSTNAME=localhost
DATABASE_PORT=5432
DATABASE_DB=swiftarr
DATABASE_PASSWORD=password
DATABASE_TIMEOUT=10

# Redis db access
REDIS_HOSTNAME=localhost
REDIS_PORT=6379
REDIS_PASSWORD=password

# HTTP Server Setup
SWIFTARR_PORT=8081
SWIFTARR_IP=127.0.0.1

# Server Passwords
ADMIN_PASSWORD=password
ADMIN_RECOVERY_KEY=make moves son
THO_PASSWORD=password
THO_RECOVERY_KEY=make moves son

# Uploaded files
# Root directory for storing user-uploaded images. These images are referenced by filename in the db.
SWIFTARR_USER_IMAGES=~/swiftarr/Images

# Other Settings
SWIFTARR_CANONICAL_HOSTNAMES=twitarr.com,localhost
SWIFTARR_ENABLE_LATE_DAY_FLIP=false

# Cruise Settings (optional)
SWIFTARR_PORT_TIMEZONE=
SWIFTARR_START_DATE=