#comment("Context 'trunk' -- globals")
#comment("Context 'event' of type EventData")
#comment("Context 'isFirst' and 'isLast' of type bool -- if both are TRUE shows expanded event content. Leaf's for loop sets these.")
#comment("Must be inside a ul or ol")

<li class="list-group-item bg-transparent has-action-bar"
		data-eventid="#(event.eventID)"
		data-eventfavorite=#if(event.isFavorite == true):"true"#else:"false"#endif
		data-eventcategory="#(event.eventType)"
		data-cruiseday="#cruiseDayIndex(event.startTime)"
		data-starttime="#(event.startTime)"
		data-endtime="#(event.endTime)">
	<div class="container-fluid">
		<div class="row">
			<div class="col">
				<span class="event-favorite-icon #if(!event.isFavorite):d-none#endif">⭐</span>
				<b>#(event.title)</b>
			</div>
		</div>
		<div class="row">
			<div class="col-sm">
				<span class="text-secondary"><i>#eventTime(event.startTime, event.endTime)</i></span>
			</div>
			<div class="col-sm text-sm-end">
				#(event.location)
			</div>
		</div>
		<div class="row justify-content-end" data-label="actionbar">
			<div class="col col-auto btn-group btn-group-sm mt-1" role="group" aria-label="Event actions">
				<a class="btn btn-outline-primary" href="/eventfeedback/form/#(event.uid)">Give Feedback</a>
			</div>
		</div>
	</div>
</li>
