<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="Content-Security-Policy" content="default-src 'none'; script-src 'self' 'unsafe-inline'; connect-src *; img-src 'self' jococruise.com data: blob:; style-src 'self' 'unsafe-inline'; base-uri 'self'; form-action 'self'">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="/css/printroomposter.css" rel="stylesheet">
	<link rel="icon" type="image/vnd.microsoft.icon" href="/img/favicon.ico">
	#if(trunk.metaRefreshSeconds):
		<meta http-equiv="refresh" content="#(trunk.metaRefreshSeconds)" />
	#elseif(trunk.metaRedirectURL):
		<meta http-equiv="refresh" content="2;URL='#(trunk.metaRedirectURL)'" />
	#endif

	<title>#(trunk.title)</title>
</head>
<body>
	#for(room in rooms):
		<div class="page">
			<div class="centerBlock">
				<h2>#(room.name)</h2>
				<h2>Event Host Feedback</h2>
				<br>
				<img width="200pt" height="200pt" src="#(room.qrCodeURL)">
				<h2>http://twitarr.com/eventfeedback</h2>
				<p>
					<b>Shadow Event Hosts</b>: After completing your event, please visit the above URL and fill out the feedback form
					to tell THO how your event went.
			</div>
		</div>
	#endfor
</body>
</html>
