#extend("trunk"):
    #export("body"):
    	<div class="container-md ms-0 my-1">
  			<div class="row">
    			<div class="col">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="/boardgames">Board Games</a></li>
							<li class="breadcrumb-item active" aria-current="page">Guide</li>
						</ol>
					</nav>
				</div>
			</div>
			<form class="my-1">
    			<div class="row my-1">
    				<div class="col">
						<select class="form-select" name="numplayers" aria-label="Number of Players">
						  <option value="1" #if(query.numplayers == 1):selected#endif>One Player</option>
						  <option value="2" #if(query.numplayers == 2 || query.numplayers == null):selected#endif>Two Players</option>
						  <option value="3" #if(query.numplayers == 3):selected#endif>Three Players</option>
						  <option value="4" #if(query.numplayers == 4):selected#endif>Four Players</option>
						  <option value="5" #if(query.numplayers == 5):selected#endif>Five Players</option>
						  <option value="6" #if(query.numplayers == 6):selected#endif>Six Players</option>
						  <option value="10" #if(query.numplayers == 10):selected#endif>A Lot of Players</option>
						</select>
					</div>
    				<div class="col">
						<select class="form-select" name="timetoplay" aria-label="Time To Play">
						  <option value="30" #if(query.timetoplay == 30):selected#endif>30 Minutes</option>
						  <option value="60" #if(query.timetoplay == 60):selected#endif>1 Hour</option>
						  <option value="90" #if(query.timetoplay == 90):selected#endif>1 1/2 Hours</option>
						  <option value="120" #if(query.timetoplay == 120):selected#endif>2 Hours</option>
						  <option value="150" #if(query.timetoplay == 150):selected#endif>2 1/2 Hours</option>
						  <option value="180" #if(query.timetoplay == 180):selected#endif>3 Hours</option>
						  <option value="1000" #if(query.timetoplay == 1000):selected#endif>More than 3 Hours</option>
						</select>
					</div>
				</div>
    			<div class="row my-1">
    				<div class="col">
						<select class="form-select" name="maxage" aria-label="Maximum Age">
						  <option value=0 #if(query.maxage == 0):selected#endif>No Age Restrictions</option>
						  <option value="6" #if(query.maxage == 6):selected#endif>6 and Younger</option>
						  <option value="9" #if(query.maxage == 9):selected#endif>9 and Younger</option>
						  <option value="12" #if(query.maxage == 12):selected#endif>12 and Younger</option>
						  <option value="15" #if(query.maxage == 15):selected#endif>15 and Younger</option>
						  <option value="14" #if(query.maxage == 14):selected#endif>14 and Older</option>
						</select>
					</div>
    				<div class="col">
						<select class="form-select" name="complexity" aria-label="Game Complexity">
						  <option value="1" #if(query.complexity == 1):selected#endif>Very Simple Rules</option>
						  <option value="3" #if(query.complexity == 3):selected#endif>Medium Complexity</option>
						  <option value="5" #if(query.complexity == 5):selected#endif>Complex Rules</option>
						</select>
					</div>
				</div>
   				<div class="row">
   					<div class="col col-12">
						<button class="col-12 btn btn-primary" type="submit">Recommend Games</button>
					</div>
				</div>
			</form>
			<ul class="container-md mx-0 px-0 list-group">
				#for(game in games.gameArray):
					<li class="list-group-item bg-transparent has-action-bar px-0">				
						#extend("GamesAndSongs/boardgameItem")
					</li>
				#endfor
			</ul>
    	</div>
	#endexport
#endextend

