#extend("trunk"):
    #export("body"):
    	<div class="container-md ms-0 my-1">
 			<div class="row">
    			<div class="col">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="/boardgames">Board Game</a></li>
							<li class="breadcrumb-item active" aria-current="page">Expansions</li>
						</ol>
					</nav>
				</div>
			</div>
			<ul class="container-md mx-0 px-0 list-group">
				#for(game in games.gameArray):
					<li class="list-group-item bg-transparent has-action-bar px-0">				
						#extend("GamesAndSongs/boardgameItem")
					</li>
				#endfor
			</ul>
    	</div>
	#endexport
#endextend
