#extend("trunk"):
#export("body"):
<div class="container-md ms-0 my-1">
	<div class="row align-items-center">
		<div class="col">
			<b>Board Game + Expansions</b>
		</div>
	</div>
	<ul class="container-md mx-0 px-0 list-group">
		#for(game in games):
		<li class="list-group-item bg-transparent has-action-bar px-0">
			<div class="container-fluid">
				<div class="row">
					<div class="col">
						<b>#(game.gameName)</b>
					</div>
					<div class="col col-auto">
						#(game.yearPublished)
					</div>
				</div>
				<div class="row">
					<div class="col">
						#if(game.minPlayers && game.maxPlayers):
						#if(game.minPlayers < game.maxPlayers): #(game.minPlayers)-#(game.maxPlayers) players #else:
							#(game.minPlayers) players #endif #endif </div>
							<div class="col col-auto">
								#if(game.minPlayingTime && game.maxPlayingTime):
								#if(game.minPlayingTime < game.maxPlayingTime):
									#(game.minPlayingTime)-#(game.maxPlayingTime) minutes to play #else:
									#(game.minPlayingTime) minutes to play #endif #endif </div>
							</div>
							<div class="row">
								<div class="col">
									#if(game.avgRating && game.avgRating > 0):Rating: #gameRating(game.avgRating)#endif
								</div>
								<div class="col col-auto">
									#if(game.complexity && game.complexitiy != 0):Complexity (1-5):
									#gameRating(game.complexity)#endif
								</div>
							</div>
							<div class="collapse" data-label="actionbar">
								<div class="row justify-content-center">
									#if(trunk.userIsLoggedIn):
									<div class="col col-auto btn-group btn-group-sm">
										<input type="checkbox" class="btn-check" autocomplete="off"
											data-action="favorite" data-actionpath="/boardgames/#(game.gameID)/favorite"
											data-istoggle="true" data-errordiv="#(game.gameID)_errorDisplay"
											id="#(game.gameID)_favorite" #if(game.isFavorite):checked#endif>
										<label class="btn btn-outline-primary" for="#(game.gameID)_favorite">
											Favorite
											<span class="spinner-border spinner-border-sm d-none" role="status"
												aria-hidden="true"></span>
											<span class="visually-hidden">Loading...</span>
										</label>
										<a class="btn btn-outline-primary"
											href="/boardgames/#(game.gameID)/createfez">Create Fez</a>
									</div>
									#endif
								</div>
								<div class="row">
									<div class="col text-end text-danger d-none" id="#(game.gameID)_errorDisplay">
										Could not set favorite on game: <span class="errortext"></span>
									</div>
								</div>
								<div class="row mt-2">
									<div class="col">
										#if(game.gameDescription):
										#unsafeHTML(game.gameDescription)
										#endif
									</div>
								</div>
							</div>
					</div>
		</li>
		#endfor
	</ul>
</div>
#endexport
#endextend