#comment("Context 'trunk' -- globals")
#comment("Context 'event' of type EventData")
#comment("Context 'isFirst' and 'isLast' of type bool -- if both are TRUE shows expanded event content. Leaf's for loop sets these.")
#comment("Must be inside a ul or ol")

<li class="list-group-item bg-transparent collapse show has-action-bar"
		data-bs-toggle="true"
		data-eventid="#(event.eventID)"
		data-eventfavorite=#if(event.isFavorite == true):"true"#else:"false"#endif
		data-eventcategory="#(event.eventType)"
		data-cruiseday="#cruiseDayIndex(event.startTime)"
		data-starttime="#(event.startTime)"
		data-endtime="#(event.endTime)">
	<div class="container-fluid">
		<div class="row">
			<div class="col">
				<span class="event-favorite-icon #if(!event.isFavorite):d-none#endif">⭐</span>
				<b>#(event.title)</b>
			</div>
		</div>
		<div class="row">
			<div class="col-sm">
				<span class="text-secondary"><i>#eventTime(event.startTime, event.endTime)</i></span>
			</div>
			<div class="col-sm text-sm-end">
				#(event.location)
			</div>
		</div>
		<div class="row collapse justify-content-end #if(isFirst && isLast):show#endif" data-label="actionbar">
			<div class="col-12">
				#(event.description)
			</div>
			<div class="col-12 ms-4">
				#if(count(event.performers) > 0):
					<b>With:</b>
						#for(performer in event.performers):
							<div class="ms-4 mb-1">
								#if(performer.photo != nil && performer.photo != ""):
									<img style="border-radius: 10px;" width=50 height=50 src="/api/v3/image/thumb/#(performer.photo)" alt="performer photo">
								#else:
									<img style="border-radius: 10px;" width=50 height=50 src="/img/NoAvatarUser.png" alt="performer photo">
								#endif
							
								<a href="/performer/#(performer.id)">#(performer.name)</a>
							</div>
						#endfor
				#endif
			</div>
			<div class="col col-auto btn-group btn-group-sm mt-1" role="group" aria-label="Event actions">
				#if(trunk.userIsLoggedIn):
					#if(event.eventType == "Shadow Event" || event.eventType == "Workshop"):
						#if(trunk.preregistrationMode || contains(trunk.userRoles, "performerselfeditor")):
							<a class="btn btn-outline-primary" href="/performer/shadow/addtoevent/#(event.eventID)">Set Organizer</a>
						#endif
					#endif
					#if(event.forum):
						<a class="btn btn-outline-primary" href="/forum/#(event.forum)">Forum</a>
					#endif
				#endif
				<a class="btn btn-outline-primary" href="/events/#(event.eventID)/calendarevent.ics">Add to Calendar</a>
				#if(trunk.userIsLoggedIn):
					<input type="checkbox" class="btn-check" autocomplete="off" data-action="follow"
							data-actionpath="/events/#(event.eventID)/favorite"
							data-istoggle="true"
							data-errordiv="#(event.eventID)_errorDisplay"
							id="#(event.eventID)_follow"
							#if(event.isFavorite):checked#endif>
					<label class="btn btn-outline-primary" for="#(event.eventID)_follow">
						Follow
						<span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
						<span class="visually-hidden">Loading...</span>
					</label>
				#endif
			</div>
		</div>
		<div class="row">
			<div class="col text-end text-danger d-none" id="#(event.eventID)_errorDisplay">
				Could not follow/unfollow event: <span class="errortext"></span>
			</div>
		</div>
	</div>
</li>
