services:
  postgres:
    image: docker.io/bitnami/postgresql:latest
    environment:
      POSTGRESQL_DATABASE: swiftarr
      POSTGRESQL_USERNAME: swiftarr
      POSTGRESQL_PASSWORD: password
      # Log postgres queries
      POSTGRESQL_PGAUDIT_LOG: ALL
    ports:
      - 5432:5432
    volumes:
      - postgres_data:/bitnami/postgresql

  redis:
    image: docker.io/bitnami/redis:latest
    ports:
      - 6379:6379
    environment:
      ALLOW_EMPTY_PASSWORD: yes
    volumes:
      - redis_data:/bitnami/redis/data

  postgres-test:
    image: docker.io/bitnami/postgresql:latest
    environment:
      POSTGRESQL_DATABASE: swiftarr-test
      POSTGRESQL_USERNAME: swiftarr
      POSTGRESQL_PASSWORD: password
    ports:
      - 5433:5432
    volumes:
      - postgres_test_data:/bitnami/postgresql

  redis-test:
    image: docker.io/bitnami/redis:latest
    ports:
      - 6380:6379
    environment:
      REDIS_PASSWORD: password
    volumes:
      - redis_test_data:/bitnami/redis/data

  prometheus:
    image: quay.io/prometheus/prometheus:latest
    ports:
      - 9090:9090
    volumes:
      - ./Prometheus/prometheus.yml:/etc/prometheus/conf/prometheus.yml:ro
      - ./Prometheus/alerts.yml:/etc/prometheus/conf/alerts.yml:ro
    command:
      - "--web.enable-admin-api"
      - "--config.file=/etc/prometheus/conf/prometheus.yml"

  alertmanager:
    image: quay.io/prometheus/alertmanager:latest
    ports:
      - 9093:9093
    volumes:
      - ./Prometheus/alertmanager.yml:/etc/alertmanager/alertmanager.yml:ro

volumes:
  postgres_data:
  redis_data:
  postgres_test_data:
  redis_test_data:
