#extend("trunk"):
    #export("body"):
    	<div class="container-md ms-0 mt-2">
			#extend("Fez/fezNavbar")
			#extend("paginator")
			<div class="list-group">
				<div class="row mb-2">
					<div class="col">
						<li class="list-group-item">This page shows Seamails, LFGs and Personal Events that you were previously a member of, but have since left or been removed from.</li>
					</div>
				</div>
				#if(count(fezList.fezzes) == 0):
					<div class="row">
						<div class="col">
							<li class="list-group-item">Nothing to show. You haven't left any Seamails, LFGs, or Private Events.</li>
						</div>
					</div>
				#else:
					#for(fez in fezList.fezzes):
						#extend("Fez/fezListItem")
						<div class="row mt-0 mb-2 justify-content-end row-cols-auto" data-label="actionbar">
							<div class="col col-auto btn-group btn-group-sm" role="group" aria-label="Actions">
								#if(fez.fezType == "activity" || fez.fezType == "dining" || fez.fezType == "gaming" || fez.fezType == "meetup" || fez.fezType == "music" || fez.fezType == "other" || fez.fezType == "shore"):
									<a class="btn btn-outline-primary" href="/lfg/report/#(fez.fezID)">Join</a>
								#endif
								<a class="btn btn-outline-primary" href="/lfg/report/#(fez.fezID)">Report</a>
							</div>
						</div>
					#endfor
				#endif
			</div>
			#extend("paginator")
		</div>
    #endexport
#endextend

