<div class="row align-items-center justify-content-end mb-2">
    <div class="col col-auto">
        Filter by:
    </div>
    <div class="col col-auto">
        <div class="dropdown">
            <button class="btn btn-outline-primary dropdown-toggle btn-sm" type="button" id="fezDayFilterMenu" data-bs-toggle="dropdown" data-selected="all" aria-expanded="false">
                All Days
            </button>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="fezDayFilterMenu">
                <li><button class="dropdown-item" type="button" data-action="filterFezDay" data-selection="all">All Days</button></li>
                <li><hr class="dropdown-divider"></li>
                <li><h6 class="dropdown-header">Only show:</h6></li>
                <li><button class="dropdown-item #if(daySelection == "0"):active#endif" type="button" data-action="filterFezDay" data-selection="0">Sun</button></li>
                <li><button class="dropdown-item #if(daySelection == "1"):active#endif" type="button" data-action="filterFezDay" data-selection="1">Mon</button></li>
                <li><button class="dropdown-item #if(daySelection == "2"):active#endif" type="button" data-action="filterFezDay" data-selection="2">Tue</button></li>
                <li><button class="dropdown-item #if(daySelection == "3"):active#endif" type="button" data-action="filterFezDay" data-selection="3">Wed</button></li>
                <li><button class="dropdown-item #if(daySelection == "4"):active#endif" type="button" data-action="filterFezDay" data-selection="4">Thu</button></li>
                <li><button class="dropdown-item #if(daySelection == "5"):active#endif" type="button" data-action="filterFezDay" data-selection="5">Fri</button></li>
                <li><button class="dropdown-item #if(daySelection == "6"):active#endif" type="button" data-action="filterFezDay" data-selection="6">Sat</button></li>
                <li><button class="dropdown-item #if(daySelection == "7"):active#endif" type="button" data-action="filterFezDay" data-selection="7">Second Sun</button></li>
            </ul>
        </div>
    </div>
    <div class="col col-auto">
        <div class="dropdown">
            <button class="btn btn-outline-primary dropdown-toggle btn-sm" type="button" id="fezTypeFilterMenu" data-bs-toggle="dropdown" data-selected="all" aria-expanded="false">
                All Types
            </button>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="fezDayFilterMenu">
                <li><button class="dropdown-item" type="button" data-action="filterFezType" data-selection="all">All Types</button></li>
                <li><hr class="dropdown-divider"></li>
                <li><h6 class="dropdown-header">Only show:</h6></li>
                <li><button class="dropdown-item #if(typeSelection == "activity"):active#endif" type="button" data-action="filterFezType" data-selection="activity">Activity</button></li>
                <li><button class="dropdown-item #if(typeSelection == "dining"):active#endif" type="button" data-action="filterFezType" data-selection="dining">Dining</button></li>
                <li><button class="dropdown-item #if(typeSelection == "gaming"):active#endif" type="button" data-action="filterFezType" data-selection="gaming">Gaming</button></li>
                <li><button class="dropdown-item #if(typeSelection == "meetup"):active#endif" type="button" data-action="filterFezType" data-selection="meetup">Meetup</button></li>
                <li><button class="dropdown-item #if(typeSelection == "music"):active#endif" type="button" data-action="filterFezType" data-selection="music">Music</button></li>
                <li><button class="dropdown-item #if(typeSelection == "other"):active#endif" type="button" data-action="filterFezType" data-selection="other">Other</button></li>
                <li><button class="dropdown-item #if(typeSelection == "shore"):active#endif" type="button" data-action="filterFezType" data-selection="shore">Shore</button></li>
            </ul>
        </div>
    </div>
    <div class="col col-auto">
        <div class="dropdown">
            <button class="btn btn-outline-primary dropdown-toggle btn-sm" type="button" id="fezHidePastFilterMenu" data-bs-toggle="dropdown" data-selected="default" aria-expanded="false">
                Hide Past LFGs?
            </button>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="fezHidePastFilterMenu">
                <li><button class="dropdown-item" type="button" data-action="filterFezHidePast" data-selection="default">Default</button></li>
                <li><hr class="dropdown-divider"></li>
                <li><button class="dropdown-item #if(hidePastSelection == true):active#endif" type="button" data-action="filterFezHidePast" data-selection="true">Hide Past LFGs</button></li>
                <li><button class="dropdown-item #if(hidePastSelection == false):active#endif" type="button" data-action="filterFezHidePast" data-selection="false">Show Past LFGs</button></li>
            </ul>
        </div>
    </div>
</div>