<div class="row mb-2">
	<ul class="nav nav-tabs">
		<li class="nav-item">
			<a class="nav-link#if(tab == "faq"): active#endif" #if(tab == "find"):aria-current="page"#endif href="/lfg/faq"><b>LFG</b></a>
		</li>
		<li class="nav-item">
			<a class="nav-link#if(tab == "find"): active#endif" #if(tab == "find"):aria-current="page"#endif href="/lfg">Find</a>
		</li>
		<li class="nav-item">
			<a class="nav-link#if(tab == "joined"): active#endif" #if(tab == "joined"):aria-current="page"#endif href="/lfg/joined">Joined</a>
		</li>
		<li class="nav-item">
			<a class="nav-link#if(tab == "owned"): active#endif" #if(tab == "owned"):aria-current="page"#endif href="/lfg/owned">Owned</a>
		</li>
		<li class="nav-item">
			<a class="nav-link#if(tab == "former"): active#endif" #if(tab == "former"):aria-current="page"#endif href="/lfg/former">Former</a>
		</li>
	</ul>
</div>
