#extend("trunk"):
    #export("body"):
    	<div class="container-md ms-0 mt-2">
			#extend("Fez/fezNavbar")
			<a class="btn btn-primary btn-sm mb-2" role="button" href="/lfg/create">New LFG</a>
			#extend("Fez/fezFilter")
			#extend("paginator")
			<div class="list-group">
				#if(count(fezList.fezzes) == 0):
					<div class="row">
						<div class="col">
							<li class="list-group-item">You haven't created any LFGs yet, but you can create one by tapping "New LFG".</li>
						</div>
					</div>
				#else:
					#for(fez in fezList.fezzes):
						#extend("Fez/fezListItem")
					#endfor
				#endif
			</div>
			#extend("paginator")
		</div>
    #endexport
#endextend

