#extend("trunk"):
    #export("body"):
    	<div class="container-md ms-0 mt-2">
    		<div class="row mb-2 align-items-end">
    			<div class="col">
   					<div class="col">
						<h6><b>#(queryDescription)</b></h6>
					</div>
				</div>
    			<div class="col col-auto align-self-end">
					#if(filterEnable):
			    	<a class="btn btn-outline-secondary btn-sm #if(filterActive):active#endif" role="button" 
			    			href="#(filterURL)" autocomplete="off" #if(filterActive):aria-pressed="true"#endif>
			    		Filter: New Msgs
					</a>
					#endif
					#if(!effectiveUser):
					<a class="btn #if(archived):btn-primary#else:btn-outline-primary#endif btn-sm" role="button" href="?archived=#(!archived)">Archived</a>
			    	#endif
					<a class="btn btn-primary btn-sm" role="button" href="/seamail/create">New Seamail</a>
				</div>
			</div>
			#extend("paginator")
			<div class="list-group">
				#if(count(fezzes) == 0):
					<div class="row">
						<div class="col">
							#if(query.search):
								<li class="list-group-item">No search results found. Try another search, or start a new Seamail by tapping "New Seamail".</li>
							#elseif(archived):
								<li class="list-group-item">You haven't archived any Seamails.</li>
							#else:
								<li class="list-group-item">You haven't received any Seamail messages yet, but you can create one by tapping "New Seamail"</li>
							#endif
						</div>
					</div>
				#else:
					#for(fez in fezzes):
						#extend("Fez/fezListItem")
					#endfor
				#endif
			</div>
			#extend("paginator")
		</div>
    #endexport
    #export("hassearch", true)
    #export("searchform"):
		<div class="container-fluid collapse swiftarr-searchbar#if(query.search): show#endif" id="searchBar">
			<form class="d-flex" action="/seamail/search">
				#if(effectiveUser != nil):<input type="hidden" name="foruser" value="#(effectiveUser)"/>#endif
				<input class="form-control" type="search" name="search" value="#(query.search)" placeholder="Search Seamails" aria-label="Search" autocapitalize="off" required/>
				<button class="btn btn-success ms-2" type="submit">Search</button>
			</form>
		</div>
    #endexport
#endextend

