#extend("trunk"):
    #export("body"):
    	<div class="container-md ms-0 mt-2">
    		<div class="row">
				<nav aria-label="breadcrumb">
				  <ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="#(breadcrumbURL)">#(breadcrumbTitle)</a></li>
					<li class="breadcrumb-item active" aria-current="page">#(fez.title)</li>
				  </ol>
				</nav>
			</div>
			<div class="row mb-1">
				<div class="col">
					<h6>Participants</h6>
				</div>				
				<div class="col col-auto btn-group btn-group-sm" role="group" aria-label="member actions">
					#if(fez.fezType == "open" || fez.fezType == "closed"):
						#if(fez.owner.userID == trunk.userID):
						<input type="checkbox" class="btn-check" autocomplete="off" data-action="archiveSeamail" 
									data-actionpath="/seamail/#(fez.fezID)/archive"
									data-istoggle="true"
									data-errordiv="mute_errorDisplay"
									id="#(fez.fezID)_archive"
								#if(fez.members.isArchived):checked#endif>
						<label class="btn btn-outline-primary" for="#(fez.fezID)_archive">
							Archive<span class="laughtext"></span>
							<span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
							<span class="visually-hidden">Loading...</span>
						</label>
						#endif
					#endif
					#if(fez.fezType == "open"):
						#if(fez.owner.userID == trunk.userID):
							<a class="btn btn-outline-primary" href="/lfg/#(fez.fezID)/members">Manage Members</a>
						#else:
							<button type="button" class="btn btn-outline-primary px-3" data-bs-toggle="modal" data-bs-target="\#leaveFezModal">Leave</button>
						#endif
					#endif
					<input type="checkbox" class="btn-check" autocomplete="off" data-action="muteSeamail" 
								data-actionpath="/seamail/#(fez.fezID)/mute"
								data-istoggle="true"
								data-errordiv="mute_errorDisplay"
								id="#(fez.fezID)_mute"
							#if(fez.members.isMuted):checked#endif>
					<label class="btn btn-outline-primary" for="#(fez.fezID)_mute">
						Mute<span class="laughtext"></span>
						<span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
						<span class="visually-hidden">Loading...</span>
					</label>
				</div>
			</div>
			<div class="row">
				<div class="col text-end text-danger d-none" id="mute_errorDisplay">
					Error muting chat: <span class="errortext"></span>
			</div>
			<div class="row mb-2 mx-0">
				#for(participant in fez.members.participants):
					<div class="col col-auto border">
						#avatar(participant)
						<span><a href="/user/#(participant.userID)">#(participant.username)</a></span>
					</div>				
				#endfor
			</div>
			#extend("paginator")
			<ul class="list-group container-md mx-0 px-0">
				#for(fezPost in oldPosts):
					#extend("Fez/fezPost")
				#endfor
				#if(showDivider):
					<hr class="newline">
				#endif
				<span id="newposts"></span>
				#for(fezPost in newPosts):
					#extend("Fez/fezPost")
				#endfor
				
				#if(paginator.nextPageURL == nil):
					<div class="fez-list-end" data-url="#(socketURL)" id="fez-list-end"></div>
					<script src="/js/swiftarrMessages.js"></script>
				#endif
			</ul>
			<span id="afterposts"></span>
			#extend("paginator")
			#if(paginator.nextPageURL == nil):
				<ul class="container-md mt-2 mx-0 px-0 list-group">
					<li class="list-group-item bg-transparent">				
						<form class="ajax" action="#(post.formAction)" enctype="multipart/form-data" method="POST" data-successurl="#(post.postSuccessURL)">
							<div class="row">
								<div class="col">
									<textarea class="form-control" 
											maxlength="500" 
											data-lengthlabel="seamailPostLimitsLabel" 
											rows="3" 
											data-maxlines="25" 
											name="postText" 
											placeholder="Send a message">#(post.messageText)</textarea>
								</div>
							</div>
							<div class="row justify-content-end mb-2">
								<div class="col col-auto">
									<div class="input-group-text input-group-sm py-0" id="seamailPostLimitsLabel"></div>
								</div>
							</div>
							<div class="alert alert-danger mt-3 #if(post.postErrorString == ""):d-none#endif" role="alert">#(post.postErrorString)</div>				
							<div class="row mb-2">
								<div class="col">
									<small>Please remember to abide by the<br><a href="/codeOfConduct">Code of Conduct</a></small>
								</div>
								<div class="col col-auto">
									<button type="submit" class="btn btn-primary">Post<span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span></button>
								</div>
							</div>
							#if(trunk.userIsMod && !post.isEdit):
								<div class="row justify-content-end mt-2">
									<div class="col col-auto form-check">
										<input class="form-check-input" type="checkbox" value="" name="postAsTwitarrTeam" id="flexCheckDefault">
										<label class="form-check-label small" for="flexCheckDefault">Post as TwitarrTeam</label>
									</div>
									<div class="col col-auto form-check">
										<input class="form-check-input" type="checkbox" value="" name="postAsModerator" id="flexCheckDefault">
										<label class="form-check-label small" for="flexCheckDefault">Post as Moderator</label>
									</div>
								</div>
							#endif
						</form>
					</li>
				</ul>
				#if(fez.fezType == "open"):
					<div class="alert text-muted alert-secondary py-0 my-1" role="alert">
						This is an open chat. The creator can add or remove members at any time. Messages can be reported.
					</div>
				#endif
				<div class="row">
					<div class="col text-muted fst-italic" id="socket-status"></div>
				</div>
			#endif
		</div>

		<div class="modal fade" id="leaveFezModal" tabindex="-1" aria-labelledby="leave chat modal" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="leave chat modal">Leave Chat</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						Are you sure you want to leave the chat?
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
						<input type="checkbox" class="btn-check" autocomplete="off" data-action="redirect" 
								data-successpath="/seamail"
								data-actionpath="/lfg/#(fez.fezID)/leave"
								data-errordiv="fezDialog_errorDisplay"
								id="#(fez.fezID)_leave">
						<label class="btn btn-primary px-4" for="#(fez.fezID)_leave">
							Leave
							<span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
							<span class="visually-hidden">Loading...</span>
						</label>
					</div>
					<div class="mx-3 pb-1 text-end text-danger d-none error-display" id="fezDialog_errorDisplay">
						Error attempting to leave chat: <span class="errortext"></span>
					</div>
				</div>
			</div>
		</div>
		
    #endexport
#endextend

