#extend("trunk"):
    #export("body"):
    	<div class="container-md ms-0">
    		<div class="row align-items-center my-1">
    			<div class="col">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb mb-0">
							<li class="breadcrumb-item" aria-current="page"><a href="/forums">Forums</a></li>
							<li class="breadcrumb-item active" aria-current="page">#(forums.title)</li>
						</ol>
					</nav>
				</div>

    			<div class="col col-auto">
					<div class="dropdown">
						<button class="btn #if(trunk.alertCounts.newTwarrtMentionCount > 0 || trunk.newTweetAlertwords):btn-outline-danger#else:btn-outline-primary#endif dropdown-toggle btn-sm" type="button" id="eventFilterMenu" data-bs-toggle="dropdown" data-selected="all" aria-expanded="false">
							Sort
						</button>
						<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="eventFilterMenu">
							#if(sortEventTime):
								<li><a class="dropdown-item #if(activeSort == "event"):active#endif" href="#(sortEventTime)">Event Time</a></li>
							#endif
							<li><a class="dropdown-item #if(activeSort == "update"):active#endif" href="#(sortMostRecent)">Most Recent Post</a></li>
							<li><a class="dropdown-item #if(activeSort == "create"):active#endif" href="#(sortCreationTime)">Creation Time</a></li>
							<li><a class="dropdown-item #if(activeSort == "title"):active#endif" href="#(sortTitle)">Title</a></li>
 							<li><hr class="dropdown-divider"></li>
							<li><h6 class="dropdown-header">Only show:</h6></li>
 							<li><a class="dropdown-item" href="/forum/favorites?cat=#(forums.categoryID)">Favorites</a></li>
 							<li><a class="dropdown-item" href="/forum/owned">Forums You Created</a></li>
						</ul>
					</div>
				</div>

				#if(!forums.isRestricted):
					<div class="col col-auto">
						<a class="btn btn-primary btn-sm" href="/forums/#(forums.categoryID)/createForum">New Thread</a>
					</div>
				#endif
			</div>
			<div class="list-group">
				#if(count(forums.forumThreads) > 0):
					#for(forum in forums.forumThreads):
						<a href="/forum/#(forum.forumID)" class="list-group-item list-group-item-action">		
							<div class="row">
								<div class="col">
									#(forum.title)
								</div>
								<div class="col col-auto">
									<span class="text-muted d-none d-sm-flex">by&nbsp;#userByline(forum.creator, "nolink"), #relativeTime(forum.lastPostAt)</span>
									<span class="text-muted d-sm-none">#relativeTime(forum.lastPostAt)</span>
								</div>
							</div>
							<div class="row">
								<div class="col">
									#(forum.postCount) post#if(forum.postCount != 1):s#endif#if(forum.readCount < forum.postCount):, #(forum.postCount - forum.readCount) new#endif
								</div>
								<div class="col col-auto">
									<span class="text-muted">Last post: @#(forum.lastPoster.username)</span>
								</div>
							</div>
						</a>
					#endfor
				#else:
					<div class="list-group-item"> 
						There aren't any forums in this category yet.
					</div>
				#endif
			</div>
		</div>
		#extend("paginator")
    #endexport
#endextend

