#extend("trunk"):
    #export("body"):
    	<div class="container-md ms-0 mt-2">
    		<div class="row mb-2 align-items-end">
    			<div class="col">
    				<h6><b>Moderator Seamail</b></h6>
				</div>
    			<div class="col col-auto align-self-end">
			    	<a class="btn btn-primary btn-sm" role="button" href="/seamail/create">New Seamail</a>
				</div>
			</div>
			#extend("paginator")
			<div class="list-group">
				#if(count(fezzes) == 0):
					<div class="row">
						<div class="col">
							<li class="list-group-item">No Seamails to @moderator yet.</li>
						</div>
					</div>
				#else:
					#for(fez in fezzes):
						#extend("Fez/fezListItem")
					#endfor
				#endif
			</div>
			#extend("paginator")
		</div>
    #endexport
#endextend

