#extend("trunk"):
    #export("body"):
    	<div class="container-md ms-0">
    		<div class="row justify-content-between align-items-center my-2">
    			<div class="col col-auto">
			    	<b>Moderator Pages</b>
				</div>
			</div>
			<div class="list-group">
				<a class="list-group-item list-group-item-action" href="/reports">
					<b>Open Reports</b>: View user reports and take action
					#if(trunk.alertCounts.moderatorData.openReportCount > 0):
						<div><span class="text-muted border-bottom border-danger"><i>#(trunk.alertCounts.moderatorData.openReportCount) Open Report#if(trunk.alertCounts.moderatorData.openReportCount > 1):s#endif</i></span></div>
					#endif
				</a>		
				<a class="list-group-item list-group-item-action" href="/reports/closed">
					<b>Closed Reports</b>: Review closed user reports
				</a>		
				<a class="list-group-item list-group-item-action" href="/moderator/log">
					<b>Moderator Log</b>: View log of moderation actions
				</a>	
				<a class="list-group-item list-group-item-action" href="/seamail?foruser=moderator">
					<b>Moderator Seamail</b>: Seamail to @moderator
					#if(trunk.alertCounts.moderatorData.newModeratorSeamailMessageCount > 0):
						<div><span class="text-muted border-bottom border-danger"><i>#(trunk.alertCounts.moderatorData.newModeratorSeamailMessageCount) New Message#if(trunk.alertCounts.moderatorData.newModeratorSeamailMessageCount > 1):s#endif</i></span></div>
					#endif
				</a>
				<a class="list-group-item list-group-item-action" href="/forumpost/mentions?mentionname=moderator">
					<b>Moderator Forum Mentions</b>: Mentions of @moderator in forum posts
					#if(trunk.alertCounts.moderatorData.newModeratorForumMentionCount > 0):
						<div><span class="text-muted border-bottom border-danger"><i>#(trunk.alertCounts.moderatorData.newModeratorForumMentionCount) New Mention#if(trunk.alertCounts.moderatorData.newModeratorForumMentionCount > 1):s#endif</i></span></div>
					#endif
				</a>
				<a class="list-group-item list-group-item-action" href="/moderate/microkaraoke">
					<b>Micro Karaoke</b>: Review and approve user uploaded video clips
				</a>
				<a class="list-group-item list-group-item-action" href="/moderator/guide">
					<b>Moderator Guide</b>: Moderator Guidelines, Capabilities, and Responsibilities
				</a>	
			</div>
		</div>
    #endexport
#endextend
